@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.bill {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-width: 380px;
  min-height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  padding: 3.05714em 1.9286em 0;
  &__credentials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__destination {
    display: flex;
    margin-bottom: 1.4rem;
    margin-top: 1.5rem;
  }
  &__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: rem(24);
    line-height: 17px;
    color: #1f2041;
  }
  &__number-sign {
    font-size: rem(11);
  }
  &__number-number {
    margin-left: 4px;
    font-size: rem(19);
    font-family: 'MontserratBold', 'sans-serif';
  }
  &__number-lux {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    margin-left: rem(3);
  }
  &__lux-price {
    vertical-align: bottom;
    font-size: 0.5rem;
  }
  &__price {
    font-family: Montserrat;
    font-style: normal;
    font-size: rem(14);
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__title {
    @include big;
    margin-bottom: 21px;
  }

  &__footer {
    width: 100%;
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__summary {
    margin-bottom: 20px;
    padding-top: 0.752857rem;
    display: flex;
    flex-direction: column;
  }
  &__day {
    font-size: 1.5em;
  }
  &__row {
    @include mainfont;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__calcing-sum {
    font-size: rem(13);
    word-spacing: -2px;
    line-height: 1.6;
  }
  &__money {
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    padding-left: rem(27);
    float: right;
    text-align: right;
  }
  &__all {
    font-family: 'MontserratBold';
    font-size: rem(19);
    line-height: 23px;
    color: #1f2041;
    display: flex;
    justify-content: space-between;
    margin-top: 0.41429rem;
  }
  &__border {
    flex-grow: 1;
    position: relative;
    top: -5px;
    left: 5px;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  }
  &__result {
    float: left;
    text-align: left;
    font-size: rem(17);
  }
  &__footer {
    margin-top: 0;
  }
  &__guests {
    width: 96%;
  }
  &__info-icon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
  }
}
