include ../date-picker/date-picker.pug
include ../dropdownSubmitAndClear/dropdownSubmitAndClear.pug
include ../dropdown/dropdown.pug
include ../pay-button/pay-button.pug

.bill
  .bill__content
    .bill__credentials
      .bill__lux-number
        span.bill__number
          span.bill__number-sign
            |№
          span.bill__number-number 888
          span.bill__number-lux люкс
      .bill__lux-price
        span(class='bill__price') 
          b 9990₽ 
        span(class='bill__day') в сутки
    .bill__destination
      +date-picker({label:'Прибытие'})
      +date-picker({label:'Выезд'})  
    .bill__guests
      +dropdownSubmitAndClear({label:'Гости',placeholder:'3 гостя',array_of_arguments:['Взрослые','Дети','Младенцы'],option:'clear'})
    .bill__summary
      .bill__row 
        .bill__calcing-sum 9 990₽ х 4 суток
        .bill__money 
          .bill__sum 39 960₽
      .bill__row 
        .bill__calcing-sum Сбор за услуги: скидка 2 179₽
        .bill__money
          .bill__info-icon i
          .bill__sum 0₽
      .bill__row 
        .bill__calcing-sum Сбор за дополнительные услуги
        .bill__money
          .bill__info-icon i
          .bill__sum 300₽
      .bill__all
        .bill__result Итого
        .bill__border
        .bill__money 38 081₽
    .bill__footer
      +pay-button({label:'Забронировать',arrow:true}) 

