extends ../../layout/landing/landing
include ../../components/header/header.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/comment/comment.pug
include ../../components/features/features.pug
include ../../components/bill/bill.pug
include ../../components/footer/footer.pug


block variables
  - var title = 'room details';
  - var description = 'page for helping picking the room just for you'; 
  - var pageClass='room-details'; 
block content
  .room-details
    main 
      .gallery 
        .gallery__pictures
          .pictures__item.pictures__item--big
            img.pictures__pic(src='assets/img/image1.jpg',alt="room's interiors")
          .pictures__column
            .pictures__item
              img.pictures__pic(src='assets/img/image2.jpg',alt="room's interior")
            .pictures__item
              img.pictures__pic(src='assets/img/image 3.jpg',alt="room's interior")
      .content 
        .content__column 
          .content__item 
            .content__title Сведения о номере
            .features__box
              +features({features:[{pic:'assets/img/smile.png',feature:'Комфорт',desc:'Шумопоглощающие стены'},{pic:'assets/img/comfort2.png',feature:'Удобство',desc:'Окно в каждой из спален'},{pic:'assets/img/whatshot.png',feature:'Уют',desc:'Номер оснащен камином'}]})
          .content__item 
            .graph
              .graph__title Впечатления от номера
              .graph__body
                .graph__graph
                  canvas.my-chart.js-my-chart(width="120" height="120")
                  .graph__capture
                    span.graph__number 260
                      br
                    span.graph__text голосов
                .graph__info  
                  .graph__grade
                    span.graph__bullet.js-graph__bullet
                    span.graph__review Великолепно  
                  .graph__grade
                    span.graph__bullet.js-graph__bullet
                    span.graph__review Хорошо
                  .graph__grade
                    span.graph__bullet.js-graph__bullet
                    span.graph__review Удовлетворительно
                  .graph__grade
                    span.graph__bullet.js-graph__bullet
                    span.graph__review Разочарован
          .content__item
            .content__comments 
              .content__title 
                span.content__caption Отзывы посетителей номера
                p.content__count 2 отзыва
              .content__comment 
                +comment({img:'assets/img/avatar.png',name:'Мурад Сарафанов',daysAgo:'5 дней',
text:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
              .content__comment 
                +comment({img:'assets/img/avatar2.png',name:'Патрисия Стёелышкова',daysAgo:'Неделю',text:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})
          .content__item.content__item--rules
            .info-card
              .info-card__title.info-card__title--bullet-list Правила
              .info-card__content
                +bulletList({title:'Правила',list:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})
            .info-card
              .info-card__title Отмена
              .info-card__content 
                .info-card__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полынй возврат за вычетом сбора за услуги.
        .content__side 
          .content__item 
            +bill
   
   
