mixin button(options)
  case options.modif 
    when 'hollow' 
      .button--hollow-wrapper
        button.button.button--hollow  #{options.text}
    default 
      button.button(class=(options.modif ? `button--${options.modif}`  :false)) #{options.text}
