mixin features(pic,feature,desc)
  .feature__item
    .feature__pic 
      img(src=pic)
    .feature__info
      .feature__label #{feature}
      .feature__desc #{desc}
      
.features__box
  +features('assets/img/smile.png','Комфорт','Шумопоглощающие стены')
  +features('assets/img/comfort2.png','Удобство','Окно в каждой из спален')
  +features('assets/img/whatshot.png','Уют','Номер оснащен камином')