@import '../../../../assets/scss/utils/vars.scss';
.features__box {
  width: 100%;
}
.feature__item {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 40px / $mainFontSize * 1rem;
  width: 291px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.feature__pic {
  margin-right: 10px;
}

.feature__label {
  @include mainfont font-weight: 700;
}

.feature__desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-transform: none;
}

.feature__info {
  position: relative;
  top: -0.3em;
}
