@import '../../common/vars.scss';
@import '../../common/mixins.scss';

.pagination {
  &__pages {
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;

    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);

    border-radius: 50%;

    cursor: pointer;

    &--active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: white;
    }
  }
  &__arrow-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    margin-left: 0.07rem;
  }

  &__info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: rem(7);
    font-size: 1rem;
    text-transform: lowercase;
    padding-left: 0.42rem;
    padding-top: 0.07rem;
  }
}
