@import '../../common/vars.scss';
@import '../../common/mixins.scss';

.pagination {
  display: flex;
  flex-direction: column;
  padding-right: 4.7rem;
  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgba(31, 32, 65, 0.5);
    font-size: 0.685714rem;
  }
  &__pages {
    display: flex;
  }
  &__info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: rem(7);
    font-size: 1rem;
    text-transform: lowercase;
    padding-left: 4px;
  }
  &__arrow-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
  }
}
.page-active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
