extends ../../layout/landing/landing
block variables
  - var title = 'landing page';
  - var description = 'landing page';
  - var page='landing-page'
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/rooms-for-you/rooms-for-you.pug

block content
  main 
    .landing-page__bgp 
      +roomsForYouCard({modif:'on-landing-page'})
      p.landing-page__caption Лучшие номера для вашей работы, отдыха и просто вдохновения


 

