extends ../../layout/landing/landing
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/rooms-for-you/rooms-for-you.pug

block variables
  - var title = 'landing page';
  - var description = 'landing page';
  - var pageClass='landing-page'
block content
  main 
    .landing-page__bgp 
      +roomsForYouCard({modif:'on-landing-page'})
      p.landing-page__caption Лучшие номера для вашей работы, отдыха и просто вдохновения


 

