mixin dropdownSubmitAndClear(options)
  div(class='dropdown-accom__big js-dropdown-accom__big')
    label(class='dropdown-accom__label') #{label}
    .input-box
      input(class='dropdown-accom',type='text',class='input',placeholder=options.placeholder)
      img(src='assets/img/arrow.svg',class='arrow')
      ul(class='dropdown-accom__ul js-dropdown-accom__ul')
        each val in options.array_of_arguments
          li 
            .dropdown-accom__variant #{val}
            .dropdown-accom__btn-group
              button(type='button',class='dropdown-accom__button--prev') -
              div(class='dropdown-accom__span') 2
              button(type='button',class='dropdown-accom__button--next') +
        if(option=='submit')
          button(class='dropdown-accom__submit inbox-button',type='submit') Применить
        else if(option=='clear')
          button(class='dropdown-accom__submit inbox-button',type='submit') Применить
          button(type='button',class='dropdown-accom__clear inbox-button') очистить
        else if(option=='none')






