extends ../../layout/main
include ../../utils/mixins.pug
block variables
	- var title = 'form-elements';

block content
	.form-elements
		.form-elements__column
			include ../../includes/modules/text-field/text-field.pug 
			include ../../includes/modules/dropdown/dropdown.pug
			include ../../includes/modules/masked-text-field/masked-text-field.pug
			.date-picker-box
				+date-picker('date dropdown')
				+date-picker('date dropdown')
			include ../../includes/modules/filter-date-dropdown/filter-date-dropdown.pug
			include ../../includes/modules/subscription-text-field/subscription-text-field.pug
			include ../../includes/modules/dropdown-accom/dropdown-accom.pug
			include ../../includes/modules/checkbox-list/checkbox-list.pug
			include ../../includes/modules/features/features.pug 
		.form-elements__column
			include ../../includes/modules/checkbox-buttons/checkbox-buttons.pug
			include ../../includes/modules/radio-buttons/radio-buttons.pug
			include ../../includes/modules/toggle/toggle.pug

			include ../../includes/modules/like/like.pug
			include ../../includes/modules/rate-button/rate-button.pug
			.dropdown
				
				include ../../includes/modules/dropdown-advanced/dropdown-advanced.pug
			label rich checkbox buttons
			include ../../includes/modules/checkbox-rich/checkbox-rich.pug
			
		.form-elements__column
			include ../../includes/modules/range-slider/range-slider.pug
			label buttons
			include ../../includes/modules/buttons/buttons.pug
			include ../../includes/modules/pay-button/pay-button.pug
			.pagination(class='label') pagination
				include ../../includes/modules/pagination/pagination.pug
			.dropdown
				
				include ../../includes/modules/dropdown-advanced2/dropdown-advanced2.pug
			.bullet-list
				.label bullet list
				include ../../includes/modules/bullet-list/bullet-list.pug
			include ../../includes/modules/comment/comment.pug
		










