extends ../../layout/main
include ../../includes/modules/date-picker/date-picker.pug
include ../../includes/modules/like/like.pug
include ../../includes/modules/dropdown/dropdown.pug
include ../../includes/modules/dropdownSubmitAndClear/dropdownSubmitAndClear.pug
include ../../includes/modules/toggle/toggle.pug
include ../../includes/modules/radio-buttons/radio-buttons.pug



block variables
	- let title = 'form-elements';
	- let description = 'smth';
	- let pageclass='form-elements';
block content 
	.form-elements(style={display:"flex",'justify-content':"space-between"}) 
		.form-elements__column
			include ../../includes/modules/text-field/text-field.pug 
			.dropdown
				+dropdown()
			include ../../includes/modules/masked-text-field/masked-text-field.pug
			.date-picker-box
				+date-picker({lalbel:'date dropdown'})
				+date-picker({lalbel:'date dropdown'})
			include ../../includes/modules/filter-date-dropdown/filter-date-dropdown.pug
			include ../../includes/modules/subscription-text-field/subscription-text-field.pug
			+dropdownSubmitAndClear({label:'удобство',placeholder:'2 спальни, 2 кровати',nameofclass:'dropdown-accom',array_of_arguments:['Спальни','Кровати','Ванные комнаты'],option:'none'})
			include ../../includes/modules/checkbox-list/checkbox-list.pug
			include ../../includes/modules/features/features.pug 
		.form-elements__column
			include ../../includes/modules/checkbox-buttons/checkbox-buttons.pug
			span(class='radio-buttons__label') RADIO BUTTONS
			+radio-buttons({array_of_arguments:['Мужчина','Женщина'],name:'gender'})    
		.text-field(id='birthday')

			+toggle({label:'toggle',array_of_arguments:['Получать спецпредложения','fish']})
			.like-buttons
				+like({number_of_likes:'12',id:'like'})
				+like({number_of_likes:'12',id:'like'})
			div(class='label') rate button
				include ../../includes/modules/rate-button/rate-button.pug
				+rate-button(5)
				
			.dropdown
				+dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',nameofclass:'dropdown-accom',array_of_arguments:['взрослые','дети','младенцы'],option:'clear'})
			include ../../includes/modules/checkbox-rich/checkbox-rich.pug
				
		.form-elements__column
			include ../../includes/modules/range-slider/range-slider.pug
			label buttons
			include ../../includes/modules/buttons/buttons.pug
			include ../../includes/modules/pay-button/pay-button.pug
			.pagination(class='label') pagination
				include ../../includes/modules/pagination/pagination.pug
			.dropdown
				+dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',nameofclass:'dropdown-accom',array_of_arguments:["взрослые","дети","младенцы"],option:'clear'})
			.bullet-list
				.label bullet list
				include ../../includes/modules/bullet-list/bullet-list.pug
			include ../../includes/modules/comment/comment.pug
			










