@import '../../layout/mixins.scss';
html {
  font-size: 16px;
}
.form-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  padding: 6.48% 9.75%;

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    margin-right: 10.75%;

    & > div:not(.comment__box),
    & > button {
      width: 320px;
      margin-bottom: 1.15rem;
      &:nth-child(6) {
        margin-bottom: 96px;
      }
    }
  }
  & > div,
  & > label {
    margin-bottom: 20px;
  }

  .rate__buttons,
  .like-buttons {
    display: flex;
    flex-direction: column;
    & > div {
      margin-right: 10px;
    }
    &__group {
      display: flex;
    }
    &__label {
      font-weight: 530;
      font-size: rem(12);
      margin-bottom: 1.21429rem;
    }
  }

  .rate__items {
    display: flex;
    & > div:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}

body,
html {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  padding: 141/1440 * 100% 141/1440 * 100%;
}

.range-slider__box {
  margin-bottom: 2rem;
}

.buttons__label {
  margin-top: 1.6rem;
  margin-bottom: 0;
}

.comment__box {
  position: absolute;
  top: 97.2rem;
  left: 35.5rem;
}

.form-elements .form-elements__column {
  .date-picker-box {
    margin-top: rem(18);
    margin-bottom: 2.82rem;
  }
  .subscription-field {
    margin-top: 20px;
  }
  .dropdown-accom__big--small {
    width: 266px;
  }
  .checkbox-buttons {
    margin-bottom: 35px;
  }
}
