extends ../../layout/main/main
include ../../components/date-picker/date-picker.pug
include ../../components/like/like.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-submit-and-clear/dropdown-submit-and-clear.pug
include ../../components/toggle/toggle.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/dropdown-no-buttons/dropdown-no-buttons.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/subscription-text-field/subscription-text-field.pug


block variables
	- let title = 'form-elements';
	- let description = 'smth';
	- let pageclass='form-elements';
block content 
	.form-elements
		.form-elements__column
			include ../../components/text-field/text-field.pug 
			.dropdown.js-dropdown
				+dropdown()
			include ../../components/masked-text-field/masked-text-field.pug
			.date-picker-box
				.form-elements__datepicker
					+datePicker({label:'date dropdown'})
				.form-elements__datepicker
					+datePicker({label:'date dropdown'})
			include ../../components/filter-date-dropdown/filter-date-dropdown.pug
			+subsTextField({label:'subscription text field'})
			+dropdownNoButtons({label:'dropdown',placeholder:'2 спальни, 2 кровати',arrayOfArguments:['Спальни','Кровати','Ванные комнаты'],option:'none'})
			+checkboxList({label:'expandable checkbox list',arrayOfArguments:['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Плед','Тумбочка']}) 
			include ../../components/features/features.pug 

		.form-elements__column
			include ../../components/checkbox-buttons/checkbox-buttons.pug
			span.radio-buttons__label RADIO BUTTONS
			+radioButtons({arrayOfArguments:['Мужчина','Женщина'],name:'gender'})    
			+toggle({label:'toggle',arrayOfArguments:['Получать спецпредложения','fish']})
			.like-buttons
				.like-buttons__label LIKE BUTTON
				.like-buttons__group
					+like({numberOfLikes:'12',id:'like'})
					+like({numberOfLikes:'12',id:'like'})
			.rate__buttons
				span.rate__label RATE BUTTON
				.rate__items
					include ../../components/rate-button/rate-button.pug
					+rateButton(5)
			.dropdown
				+dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',arrayOfArguments:['взрослые','дети','младенцы'],option:'clear'})
			include ../../components/checkbox-rich/checkbox-rich.pug
			.comment__box
				include ../../components/comment/comment.pug

		.form-elements__column
			.range-slider__box
				include ../../components/range-slider/range-slider.pug
			label.buttons__label buttons
			.buttons
				.buttons__box
					include ../../components/button--hollow/button--hollow.pug
					include ../../components/button--hollow/button--hollow.pug
					include ../../components/button--full/button--full.pug
					include ../../components/button--full/button--full.pug
					include ../../components/button--inline/button--inline.pug
					include ../../components/button--inline/button--inline.pug
				
			include ../../components/pay-button/pay-button.pug
			.pagination__label pagination
				include ../../components/pagination/pagination.pug
			.dropdown
				+dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',arrayOfArguments:["взрослые","дети","младенцы"],option:'clear'})
			.bullet-list
				.bullet-list__label bullet list
				include ../../components/bullet-list/bullet-list.pug
			










