@import '../../layout/mixins.scss';
.star__group {
  display: flex;
}
.star--active {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.star {
  width: rem(20);
  height: rem(20);
  margin-right: 0.1rem;
  &__united {
    position: relative;
    opacity: 1;
    &--disabled {
      opacity: 0.5;
    }
  }
}
