include ../svg-star/svg-star.pug
include ../svg-star-active/svg-star-active.pug
mixin rateButton(activeStars)
		.rate__item
			.star__group 
				- var n=activeStars
				- var r=5-n
				while n>0
					.star__united
						+svgStarActive({color:'#BC9CFF',endColor:'#8BA4F9'})
						+svgStar({color:'#BC9CFF',endColor:'#8BA4F9'})
					-n--
				while r>0
					.star__united--disabled
						+svgStar({color:'#BC9CFF',endColor:'#8BA4F9'})
					-r--







