include ../svg__arrow-right/svg__arrow-right.pug

mixin subs-text-field(options)
	.subscription-field
		label.subscription-field__label #{options.label}
		input(class='subscription-text-field__input ',type='text',placeholder='Email',)
		+svg__arrow-right({color:'#BC9CFF',endColor:'#8BA4F9',className:'arrow-right arrow-right__subs-field '})
		
