include ../pay-button/pay-button.pug
mixin signInCard
  .sign-in-card
    .sign-in-card__content
      .sign-in-card__title Войти
      .sign-in-card__item
        .text-field
          input.sign-in-card__input(type='text',placeholder='Email')
      .sign-in-card__item
        .text-field
          input.sign-in-card__input(type='password',placeholder='Пароль')
      .sign-in-card__item.sign-in-card__item--pay-button
        +payButton({label:'войти',arrow:true})
      .sign-in-card__footer 
        span.card__account-availability Нет аккаунта на Toxin?
        +button({text:'Создать',modif:'hollow'})