@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.search-room {
  background: white;
  .hotel-card {
    margin-bottom: 1.47143rem;
  }
  .range-slider {
    width: 88%;
  }
  .sidebar {
    padding-left: 140/1440 * 100%;
    width: 456px;

    &__container {
      padding-right: 60/1440 * 100%;
    }
    &__item {
      margin-bottom: 1.5rem;
    }
    .date-picker,
    .datepicker,
    .date-picker__item,
    details,
    .input-box {
      width: 16.5rem;
    }
  }
  main {
    padding: 30px 0;
    display: flex;
  }
  .content {
    padding-right: 7.07143rem;
    padding-left: 0.58571rem;
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1f2041;
      margin-bottom: 20px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      margin-right: -12px;
    }
    &__item {
      margin-right: 12px;
    }
    &__pagination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: rem(12);
    }
  }
  @media screen and (max-width: 1044px) {
    .content__items {
      width: 100%;
      justify-content: center;
    }
  }
  @media screen and (max-width: 765px) {
    html {
      font-size: 12px;
    }
    .content {
      padding: 15px;
    }
    .sidebar {
      padding-left: 3%;
    }
    .footer-main {
      display: none;
    }
    .footer-secondary {
      display: block;
    }
  }
  @media screen and (max-width: 625px) {
    main {
      flex-wrap: wrap;
    }
    .sidebar {
      width: 100%;
    }
    .date-picker,
    .datepicker,
    .date-picker__item,
    input:not(#facilities),
    .input-box {
      width: auto;
    }
    .sidebar__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .sidebar__container > div {
      margin-right: 8px;
      margin-bottom: 8px;
      width: 266px;
    }

    .range-slider {
      width: 100%;
    }
  }
}
