extends ../../layout/landing
include ../../includes/modules/hotel-card/hotel-card.pug
include ../../includes/modules/date-picker/date-picker.pug
include ../../includes/modules/dropdownSubmitAndClear/dropdownSubmitAndClear.pug
include ../../includes/modules/header-w/header-w.pug
include ../../includes/modules/range-slider/range-slider.pug


block variables
  - var title = 'search room and filter';
  - var description = '';
  - var pageclass='search-room'
block content 
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .sidebar
      .sidebar__container 
        .sidebar__item 
          +date-picker({label:'время пребывания в отеле',classname:'js-datepicker'})
        .sidebar__item 
          +dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',array_of_arguments:['взрослые','дети','младенцы'],option:'clear'})
        .sidebar__item 
          +range-slider('Диапазон цены')
        .sidebar__item 
          include ../../includes/modules/checkbox-buttons/checkbox-buttons.pug
        .sidebar__item 
          include ../../includes/modules/checkbox-rich/checkbox-rich.pug
        .sidebar__item 
          +dropdownSubmitAndClear({label:'dropdown',placeholder:'3 гостя',array_of_arguments:['взрослые','дети','младенцы'],option:'clear'})
        .sidebar__item 
          include ../../includes/modules/checkbox-list/checkbox-list.pug
    .content 
      .content__title Номера, которые мы для вас подобрали
      .content__items 
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'888',price:'9990',stars:5,number_of_reviews:'145',lux:true})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image1.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'840',price:'9990',stars:4,number_of_reviews:'65',lux:false})
        .content__item
           +hotel-card({pictures:['assets/img/hotel-cards/search-room/image3.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'980',price:'8500',stars:3,number_of_reviews:'35',lux:true})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image4.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'856',price:'7300',stars:4,number_of_reviews:'19',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image5.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'740',price:'5800',stars:3,number_of_reviews:'44',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image6.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'982',price:'5800',stars:3,number_of_reviews:'56',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image7.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'678',price:'5500',stars:5,number_of_reviews:'45',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image8.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'450',price:'5300',stars:4,number_of_reviews:'39',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image9.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'350',price:'5000',stars:3,number_of_reviews:'77',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image10.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'666',price:'5000',stars:5,number_of_reviews:'25',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image11.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'352',price:'5000',stars:3,number_of_reviews:'55',lux:false})
        .content__item
          +hotel-card({pictures:['assets/img/hotel-cards/search-room/image8.png','assets/img/hotel-cards/search-room/image1.png'],
                lux_number:'450',price:'5300',stars:4,number_of_reviews:'39',lux:false})
      .content__pagination 
        include ../../includes/modules/pagination/pagination.pug
  footer(class='footer-main')
    include ../../includes/modules/footer/footer.pug
  footer(class='footer-secondary')
    include ../../includes/modules/footer-mini/footer-mini.pug

