@import '../../../layout/vars.scss';
@import '../../../layout/mixins.scss';
::-webkit-details-marker {
  display: none;
}
.checkbox-group {
  margin-top: $mainFontSize/18px * 1rem;
  // position: absolute;
  top: 100%;
  left: 0;
  position: absolute;
  background: #e5e5e5;
  z-index: 10;
}
.checkbox {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: $mainFontSize;
  color: $DarkShade50;
  text-transform: capitalize;
  padding-left: rem(32);

  &__span {
    line-height: 1.3;
  }
  &__item {
    display: flex;
    margin-bottom: rem(10);
    position: relative;
  }
  &__input {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-right: $mainFontSize/9.74px * 1rem;
    background: transparent;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    &:checked ~ .checkbox-custom {
      background: transparent;
      border: 1px solid #bc9cff;
      border-radius: 4px;
      &:after {
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity: 1;
        left: 4px;
        top: 1px;
        background-color: transparent;
      }
    }
  }
}
.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid rgba(31, 32, 65, 0.25);
  // background: transparent;
  border-radius: 4px;
  &:after {
    position: absolute;
    content: url('../../../../assets/img/ok.png');
    left: 0;
    top: 0;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    // border: solid #009BFF;
    // border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
}
.checkbox-details {
  position: relative;
  width: 222/12 * 1em;
  .checkbox-group {
    position: static;
    background: transparent; //the backgound we get from the pageclass class,check js file
  }
}
.checkbox-details details .checkbox-group {
  position: absolute;
}
summary {
  width: 320/12 * 1em;
  text-transform: uppercase;
}
summary::before {
  content: url('../../../../assets/img/arrow.png');
  // padding-right: 0.5em;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  // background-color: red;
}

details {
  position: relative;
  width: 222/12 * 1em;
}
details[open] > summary::before {
  content: url('../../../../assets/img/arrow-up.png');
  width: 20px;
}
