extends ../../layout/landing/landing
include  ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/sign-in/sign-in.pug

block variables
  - var title = 'sign-in';
  - var description = '';
  - var pageClass='sign-in'
block content
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .sign-in__bgp 
      .sign-in__auth
        +signInCard
  footer.footer.footer--main
    +footer
