@import '../../common/mixins.scss';
.sign-in {
  &__auth {
    left: 37.5%;
    position: absolute;
    top: 30%;
    width: 380px;
  }
  &__bgp {
    background: url('./last-page.png');
    height: 49rem;
  }
}

@media screen and (max-width: 834px) {
  .footer--main {
    display: none;
  }
}
