extends ../../layout/landing/landing
include  ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/sign-in/sign-in.pug

block variables
  - var title = 'sign-in';
  - var description = 'sign-in page';
  - var pageClass='sign-in'
block content
  main 
    .sign-in__bgp 
      .sign-in__auth
        +signInCard
  

