@import '../../common/mixins.scss';
.sign-in {
  &__auth {
    left: 37.5%;
    position: absolute;
    top: 30.5%;
    width: 380px;
  }
  &__bgp {
    background: url('./last-page.jpg');
    height: 49rem;
  }
}
