@import '../../common/vars.scss';
@import '../../common/mixins.scss';
$buttonWidth: 8.25em;
.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: rem(14);
  &--full {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $buttonWidth;
    height: 3.56667em;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    &:hover {
      opacity: 0.5;
    }
  }
  &--hollow {
    display: inline-block;
    height: 88%;
    width: 96%;
    text-align: center;
    // line-height: 39px;
    background: #fff;
    color: #bc9cff;
    z-index: 10;
    border-radius: 22px;

    &-wrapper {
      height: 3.7em;
      width: $buttonWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 26px;
      font-size: 12px;
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }
  &--link {
    padding: 12px 0px;
  }
  &--inline {
    font-size: rem(12);
    line-height: 15px;
    color: #bc9cff;
    background: transparent;
    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}
