footer(class='footer-mini')
  .footer-mini__container 
    .footer-mini__content 
      .footer-mini__logo(class='brand-logo')
        img(src='assets/img/fsdlogo.svg')
      .footer-mini__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        
      .footer-mini__socials(class='socials')
        .socials__item 
            img(src='assets/img/twitter.svg')
        .socials__item 
          img(src='assets/img/instagram.svg')
        .socials__item   
          img(src='assets/img/facebook.svg')
