@import '../../../layout/mixins.scss';
.footer-mini {
  width: 768px;
  height: 367px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin: 0 auto;
  &__container {
    padding: 180/1350 * 100% 104/1440 * 100% 169/1350 * 100%;
  }
  &__content {
    text-align: center;
    & > div {
      margin-bottom: 25px;
      // text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    position: relative;
    left: -2.2%;
  }
}
