include ../svg-arrow-right/svg-arrow-right.pug
mixin pagination(number_of_first_pages)
  .pagination
    .pagination__pages
      - let n=1
      while n<number_of_first_pages+1
        div(class='pagination__item js-pagination__item') #{n}
        -n++
      div(class=' pagination__item pagination__item--intro js-pagination__item') ...
      div(class='pagination__item pagination__item--last-page js-pagination__item') 15 
      .pagination__arrow-item
        +svg__arrow-right({color:'#FFFFFF',endColor:'#FFFFFF',className:'pagination__arrow-right'})
    .pagination__info 1 – 12 из 100+ вариантов аренды

+pagination(3)
