.arrow-right__subs-field {
  position: absolute;
  top: 35%;
  right: 2.5%;
  transform: translate(-50%, -2.5%);
}
.subscription-text-field__input {
  width: 267/14 * 1rem;

  &__label {
    width: 267/14 * 1rem;
  }
}
