extends ../../layout/landing/landing
include  ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-mini/footer-mini.pug
include ../../components/sign-in/sign-in.pug

block variables
  - var title = 'sign-in';
  - var description = '';
  - var pageclass='sign-in'
block content
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .picture 
      +signInCard
  footer(class='footer footer--main')
    +footer
  footer(class='footer footer--small ')
    +footerMini