extends ../../layout/landing
block variables
  - var title = 'landing page';
  - var description = '';
  - var pageclass='search-room'
block content
  header
    include ../../includes/modules/header-w/header-w.pug
  main 
    .content
      sidebar(class="sidebar")
        .sidebar__container 
          .sidebar__item 
            include ../../includes/modules/date-picker/date-picker.pug
          .sidebar__item 
            include ../../includes/modules/dropdown-advanced/dropdown-advanced.pug
          .sidebar__item 
            include ../../includes/modules/range-slider/range-slider.pug
          .sidebar__item 
            include ../../includes/modules/checkbox-buttons/checkbox-buttons.pug
          .sidebar__item 
            include ../../includes/modules/checkbox-rich/checkbox-rich.pug
          .sidebar__item 
            include ../../includes/modules/dropdown-accom/dropdown-accom.pug
          .sidebar__item 
            include ../../includes/modules/checkbox-list/checkbox-list.pug

    //- +sidebar(['../../includes/modules/datepicker/datepicker.pug','../../includes/modules/dropdown-advanced/dropdown-accom.pug','../../includes/modules/range-slider/range-slider.pug','../../includes/modules/checkbox-buttons/checkbox-buttons.pug','../../includes/modules/checkbox-rich/checkbox-rich.pug','../../includes/modules/dropdown-advanced2/dropdown-advanced.pug','../../includes/modules/datepicker/checkbox-list.pug'])

  footer(class='footer-main')
    include ../../includes/modules/footer/footer.pug
  footer(class='footer-secondary')
    include ../../includes/modules/footer-mini/footer-mini.pug

