mixin range-slider(label)
	.range-slider
		.range-slider__info
			span.label.range-slider__title #{label}
			.range-slider__values
				span(class='range-slider__start') 0
				span(class='range-slider__das')  -
				span(class='range-slider__end')  0
		.range-slider__item.js-range-slider__item
		.range-slider__caption 
			p Стоимость за сутки пребывания в номере 
			
block content 
	+range-slider('RANGE SLIDER')