extends ../../layout/landing
block variables
  - var title = 'headers&footers';
  - var description = '';
block content
  .navs 
    include ../../includes/modules/header-w/header-w.pug
    include ../../includes/modules/header-wo/header-wo.pug 
    include ../../includes/modules/footer/footer.pug 
    include ../../includes/modules/footer-mini/footer-mini.pug 