@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
.navs {
  margin-bottom: 20px;
  padding: 5.6rem 0;
}
.navs > nav {
  margin-bottom: 40px;
}
.navs > footer {
  margin-bottom: 40px;
}
