extends ../../layout/main
include ../../components/header-w/header-w.pug
block variables
  - var title = 'headers&footers';
  - var description = '';
block content
  .navs 
    include ../../components/header-wo/header-wo.pug 
    +navigation({username:'Юлий Цезарь',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
    include ../../components/footer/footer.pug 
    include ../../components/footer-mini/footer-mini.pug 