include ../checkbox-button/checkbox-button.pug
mixin checkboxRich(options)
  h6.checkbox-rich__label #{options.label}
  .checkbox-rich 
    ul.checkbox-rich__list
      each val in options.list
        li.checkbox-rich__option
          +checkbox-button({desc:val[1],text:val[0],})


