@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.checkbox-rich {
  position: relative;
  display: flex;
  flex-direction: column;
  &__label {
    user-select: none;
    @include small;
    color: black;
  }
  &__list {
    margin-top: 1.2rem;
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 2;
  }
  &__item {
    display: flex;
    position: relative;
    margin-bottom: 0.1rem;
  }
}
