include ../checkbox-button/checkbox-button.pug
mixin checkboxRich(options={label:'Доступность',name:'facilities',list:[['Широкий коридор','Ширина коридоров в номере не менее 91 см.'],['Помощник для инвалидов','На 1 этаже вас встретит специалист  и проводит до номера.']]})
  h6.checkbox-rich__label #{options.label}
  .checkbox-rich 
    ul.checkbox-rich__list
      each val in options.list
        li.checkbox-rich__option
          +checkbox-button({desc:val[1],text:val[0],})


