mixin burger-menu(options) 
  div(class=options.classname)
    button(class='burger__button')
      span(class='burger__item')
    ul(class='burger__first-ul first-ul')
      each val in options.array_of_arguments 
        if typeof val=='array'
          li(class='first-ul__item') #{val.name}
            ul(class='burger__secondary-ul secondary__ul')
              each el in val 
                li(class='secondary-ul__item') #{el}
        else   
          if val.arrow=='true'
            li(class='first-ul__item') #{val.name}
              img(src='assets/img/arrow.svg',class='burger__arrow')
              
+burger-menu({array_of_arguments:[{name:'О нас',arrow:'false'},{name:'Услуги',arrow:'true'},{name:'Вакансии',arrow:'false'},{name:'Новости',arrow:'false'},{name:'Соглашения',arrow:'true'}],classname:'burger'})
   
