mixin datePicker(options={label:'',placeholder:'ДД.ММ.ГГГГ',modif:''})
  .date-picker.js-date-picker(class=`date-picker--${options.modif}`)
    label.date-picker__label #{options.label}
    .date-picker__item
      input.date-picker__input(type='text',placeholder=options.placeholder)
      img.arrow(src='assets/img/arrow.svg')

