mixin datePicker(options)
  .date-picker.js-date-picker
    label.date-picker__label #{options.label}
    div(class='date-picker__item')
      input(class='datepicker ',type='text',class=options.classname,placeholder='ДД.ММ.ГГГГ')
      img(src='assets/img/arrow.svg',class='arrow')

