@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
.arrow-span {
  position: relative;
  right: 8%;
  width: auto;
  height: 100%;
  translate: transformY(-50%);
  transform: translate(6px, 4px);
}
.date-picker {
  width: 150px;
  margin-right: 20px;
  font-size: rem(11);
  &__label {
    margin-bottom: rem(4);
    font-size: 0.75714rem;
  }
  &__item {
    position: relative;
    width: 9.41429rem;
    &::last-child {
      margin-right: 0;
    }
  }
}
.datepicker {
  width: 100%;
}
.date-caption {
  margin-bottom: 5px;
}
.date-picker-box {
  display: flex;
}

.ui-datepicker table {
  margin: 0;
  height: 80%;
}

.ui-datepicker td span,
.ui-datepicker td a {
  padding: 0 0.2em 0 0;
}
.ui-datepicker-calendar .ui-state-default {
  width: 1.6em;
  text-align: center;
  width: 23px;
}

.ui-datepicker {
  background: #ffff; /* Old browsers */
  background: #ffff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
  background: #ffff -webkit-gradient(linear, left top, left bottom, color-
          stop(0%, #ffff)),
    color-stop(100%, #34495e); /* Chrome,Safari4+ */
  background: #ffff -webkit-linear-gradient(top, #ffff 0%, #34495e 100%); /*
Chrome10+,Safari5.1+ */
  background: #ffff -o-linear-gradient(top, #ffff 0%, #34495e 100%); /* Opera11.10+
*/
  background: #ffff -ms-linear-gradient(top, #ffff 0%, #34495e 100%); /* IE10+ */
  background: #ffff linear-gradient(top, #ffff 0%, #34495e 100%); /* W3C */
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  font-size: 11px;
  padding: 10px;
  border: 1px solid #5bfec8;
  width: 320px;
  height: 369px;
}

.ui-datepicker table td {
  text-align: center;
  padding-left: 6%;
}

.ui-datepicker a {
  cursor: pointer;
  text-decoration: none;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
  color: #5bfec8;
}

a.ui-state-default:hover {
  border: 1px solid white;
  background: #5bfec8;
  font-weight: bold;
  color: black;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid white;
  background: #b1a0fe;
  font-weight: bold;
  color: black;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: black;
}

.ui-widget-header {
  background: blue;
  color: #5bfec8;
  font-weight: bold;
}

#card__datepicker .ui-widget.ui-widget-content {
  border: 0;
  width: 320px;
  height: 339px;
}
.card__datepicker {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.ui-datepicker-inline {
  background: white;
  border: 0;
  table {
    height: 100%;
  }
  table td {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  & .ui-datepicker-header {
    border: 0;
    background: white;
    .ui-datepicker-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: rem(19);
      line-height: 23px;
      text-align: center;
      color: #1f2041;
    }
    & .ui-datepicker-prev {
      .ui-icon {
        background: url('arrow_back.png') center / contain no-repeat;
      }
    }
    & .ui-datepicker-next {
      .ui-icon {
        background: url('arrow_back.png') center / contain no-repeat;
        transform: rotate(180deg);
      }
    }
  }
  .ui-datepicker-calendar {
    .ui-datepicker-week-end {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: rem(12);
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #bc9cff;
    }
    .ui-state-default {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: rem(12);
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(31, 32, 65, 0.5);
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ui-state-active {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 22px;
    }
  }
}
.ui-datepicker .ui-datepicker-calendar thead tr th span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}
