@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.like {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(13);
  margin-right: rem(11);
  position: relative;
  border: 1px solid rgba(31, 32, 65, 0.25);

  border-radius: 10px;
  width: 40px;
  min-width: 40px;
  max-width: 60px;
  height: 20px;

  &__input {
    opacity: 0;
    z-index: 2;
    width: 50%;
    position: relative;
    left: -10%;
    cursor: pointer;
    &:checked ~ .like__icon {
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &:checked ~ .like__icon--active {
      opacity: 1;
    }
    &:checked ~ .like-custom {
      border-color: #bc9cff;
    }
    &:checked ~ .like__number {
      color: #bc9cff;
    }
  }
  &__number {
    position: absolute;
    right: 27%;
    font-size: 10px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.25);
    transition: all 0.3s linear;
    user-select: none;
  }
  &__icon {
    position: absolute;
    left: 9%;
    color: rgba(31, 32, 65, 0.25);
    font-size: rem(12);
    opacity: 1;
    top: 20%;
    &--active {
      opacity: 0;
      transition: 0.3s ease-out;
      position: absolute;
      top: 16%;
      left: 8%;
      color: #bc9cff;
      font-size: rem(12);
    }
  }
  .material-icons {
    font-size: 10px;
  }
}

// .like .like__icon {
//   font-size: 10px;
// }
