mixin like(options={numberOfLikes:'12'})
  .like.js-like
    input.like__input.js-like__input(type="checkbox",name='like')
    span.like__number.js-like__number #{options.numberOfLikes}
    i.material-icons.like__icon favorite_border
    i.material-icons.like__icon.like__icon--active favorite

