@import '../../layout/mixins.scss';
.sign-in {
  .card {
    position: absolute;
    top: 24%;
    left: 36.5%;
  }
}
.picture {
  background: url('./last-page.png');
  height: 42.5rem;
}

@media screen and (max-width: 834px) {
  .footer-main {
    display: none;
  }
  .footer-secondary {
    display: block;
  }
}
@media screen and (max-width: 765px) {
  .sign-in {
    .card {
      left: 10px;
    }
  }
}
