extends ../../layout/landing
include  ../../includes/modules/header-w/header-w.pug

block variables
  - var title = 'sign-in';
  - var description = '';
  - var pageclass='sign-in'
block content
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .picture 
      include ../../includes/modules/sign-in/sign-in.pug
  footer(class='footer-main')
    include ../../includes/modules/footer/footer.pug
  footer(class='footer-secondary')
    include ../../includes/modules/footer-mini/footer-mini.pug