@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.room-details {
  overflow: hidden;
  .graph {
    padding-left: 3.81429rem;
  }
  .gallery {
    width: 102%;
  }

  .comment {
    margin-left: -20px;
  }
  .bullet-list__box {
    max-width: rem(292);
  }
  .card {
    max-width: 380px;
    margin-right: 0;
  }
  .pictures {
    display: flex;
    max-height: 487px;
    overflow: hidden;
    &__item {
      height: 50%;
      width: 100%;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
      }
      &_big {
        height: auto;
      }
    }
    &__column {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      height: 100%;
    }
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 9.7%;
    padding: 4.41429rem 9.7% 3.7% 10%;
    &__card {
      max-width: 22.35714rem;
      .content__title {
        margin-bottom: rem(16);
        padding-left: 1.27143rem;
      }
    }
    &__comment {
      margin-bottom: rem(7);
    }
    &__count {
      font-size: 0.8rem;
      font-weight: 500;
    }
    &__item {
      margin-bottom: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__column {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-right: 70/1440 * 100%;
      height: 100%;
      & > div {
        height: 100%;
        margin-bottom: rem(9);
      }
    }
    &__side {
      .content__item {
        padding-left: 0;
      }
    }
  }
  .bullet__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: rem (19);
    line-height: 23px;
    color: #1f2041;
  }
}

.content__cancelItem {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem (19);
  line-height: 23px;
  color: #1f2041;
  margin-bottom: 20px;
}
.content__cancelText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: rem(15);
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: rem(22);
  letter-spacing: -0.5px;
}
.content__comments {
  max-width: rem(711);
  width: 98%;
  margin-bottom: 1.95714rem;
  .content__title {
    margin-bottom: 0.26rem;
  }
}
.content__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  color: #1f2041;
  font-size: 1.15714rem;
  margin-bottom: 1.7571rem;
  display: flex;
  justify-content: space-between;
  width: 104%;
}
//---------------------------GRAPH ELEMENT
.graph {
  canvas {
    position: relative;
    width: 105px;
    height: 105px;
  }
  &__review {
    padding-left: rem(8);
  }
  &__graph {
    width: 132px;
    height: 132px;
    position: relative;
  }
  &__number {
    font-size: rem(30);
    font-weight: 600;
    padding-top: rem(6);
  }
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1f2041;
    margin-bottom: rem(10);
  }
  &__capture {
    display: flex;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 54%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.87);
    background: #e5e5e5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #bc9cff;
  }
  &__body {
    display: flex;
  }
  &__info {
    padding: 2.7rem 0 0 1.7em;
  }
  &__grade {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: rem(9);
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  &__review {
    padding-left: rem(5);
  }
}

//-------------------------------------------ADAPTIVE
@media screen and (max-width: 1100px) {
  .content {
    flex-wrap: wrap;
    padding: 2% 5%;
    &__column,
    &__side {
      width: 100%;
      justify-content: center;
    }
    & > div {
      justify-content: center;
    }
    .card {
      margin: 0 auto;
    }
  }
  .room-details .content {
    padding: 4% 5%;
  }
}
@media screen and (max-width: 765px) {
  .room-details .pictures__item {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  .room-details .pictures__column {
    width: 100%;
  }
  .room-details .pictures {
    flex-wrap: wrap;
    max-height: none;
    overflow: none;
  }
  .footer--main {
    display: none;
  }
  .footer--small {
    display: block;
  }
}
