extends ../../layout/landing/landing
include ../../components/header-w/header-w.pug

block variables
  - var title = 'room details';
  - var description = ''; 
  - var pageclass='room-details'; 
block content
  .room-details
    header
      +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
    main 
      .gallery 
        .gallery__pitures(class='pictures')
          .pictures__item(class='pictures__item_big')
            img.pictures__pic(src='assets/img/image1.png')
          .pictures__column
            .pictures__item
              img.pictures__pic(src='assets/img/image2.png')
            .pictures__item
              img.pictures__pic(src='assets/img/image 3.png')
      .content 
        .content__column 
          .content__item 
            .content__title Сведения о номере
            include ../../components/features/features.pug
          .content__item 
            include ../../components/graph/graph.pug
          .content__item
            .content__comments 
              .content__title 
                span.content__caption Отзывы посетителей номера
                span.content__count 2 отзыва
              .content__comment 
                include ../../components/comment/comment.pug
              .content__comment 
                +comment({img:'assets/img/avatar2.png',name:'Патрисия Стёелышкова',daysAgo:'Неделю',text:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})
          .content__item 
            .content__card
              .content__title Правила
              include ../../components/bullet-list/bullet-list.pug
          .content__item 
            .content__card
              .content__title Отмена
              .content__cancelText Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полынй возврат за вычетом сбора за услуги.
        .content__side 
          .content__item 
            include ../../components/bill/bill.pug
    footer(class='footer footer--main')
      include ../../components/footer/footer.pug
    footer(class='footer footer--small ')
      include ../../components/footer-mini/footer-mini.pug