mixin rangeSlider(label='Price')
	.range-slider
		.range-slider__info
			h6.range-slider__title #{label}
			.range-slider__values
				span.range-slider__start 0
				span.range-slider__end  0
		.range-slider__item.js-range-slider__item
		.range-slider__caption 
			p Стоимость за сутки пребывания в номере 
			
