- var username='';
//- include ../../../utils/mixins.pug
nav(class='navigation')
  .navigation__content
    .navigation__icon-space(class='brando-logo')
      
      include ../burger-menu/burger-menu.pug   
      img(src=`assets/img/fsdlogo.svg`,class='logo-img') 
      //- img(src=`${require(`~Img/fsdlogo.svg`)}`,class='logo-img')   
    .navigation__navbar 
      .navigation__items
        +navbar([{name:'О нас',arrow:false},
        {name:'Услуги',arrow:true,list:['hire','me','lol']},
        {name:'Вакансии',arrow:false},
        {name:'Новости',arrow:false},
        {name:'Соглашения',arrow:true,list:['arsenal','vpered','k_pobede']}],'navigation__arrow')
    
    if username!=0
      .navigation__user #{username}
    else
      .btngroup-authorization 
        .button-default2__wrapper(class='navigation__button-wrapper')
          button(class='button-default2') Войти
        button(class='pay-button navigation__bigbutton',style={width:'196px',height:'34px'}) Зарегестрироваться
          
