@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.sign-in-card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-width: 380px;
  min-height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 40px; //TODO margin
  margin-bottom: 40px;
  height: 22.5rem;
  &__content {
    padding: 2.6314em 1.9em 0;
  }
  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-top: rem(16);
  }

  &__title {
    @include big;
    margin-bottom: 21px;
  }
  &__item {
    margin-bottom: rem(10);
    &--pay-button {
      margin-top: rem(18);
    }
  }
  input {
    width: 100%;
  }
}
