.buttons
	.buttons__box
		button(class='button-default1') click me
		button(class='button-default1') click me
		.button-default2__wrapper
			button(class='button-default2') click me
		.button-default2__wrapper
			button(class='button-default2') click me
		button(class='button-inline') click me
		button(class='button-inline') click me
