@import '../../common/mixins.scss';
.registration {
  flex: 1 0 auto;
  overflow: hidden;
  &__bgp {
    height: 49rem;
    background: url('./last-page.jpg');
  }
  &__register {
    position: relative;
    left: 37%;
    top: 3%;
    width: 380px;
    @media screen and (max-width: 625px) {
      & {
        left: 17%;
      }
    }
    @media screen and (max-width: 465px) {
      & {
        left: 1%;
        width: auto;
      }
    }
  }
  &__footer {
    margin: rem(38) 0 rem(20);
  }

  .card {
    position: absolute;
    top: 2.3%;
    left: 37%;
    max-width: 23.14286rem;
    height: 95%;
    &__title {
      font-size: 1.451429rem;
    }
    .text-field {
      margin-bottom: 0;
    }
  }
  .footer {
    .footer__list:nth-child(2) {
      margin-right: 4rem;
    }
    .footer__bottom-container {
      padding: 1.6% 9.72222%;
    }
  }
}
