extends ../../layout/landing/landing
include  ../../components/header/header.pug
include ../../components/registration/registration.pug
include ../../components/footer/footer.pug
block variables
  - var title = 'Registration';
  - var description = '';
  - var pageClass='registration'
block content 
  main 
    .registration__bgp 
      .registration__register
        +registrationCard



