@import '../../common/mixins.scss';
.registration {
  &__bgp {
    height: 49rem;
    background: url('./last-page.png');
    img {
      //TODO styles on tags
      max-width: 100%;
      height: 100%;
    }
  }
  &__register {
    position: relative;
    left: 37%;
    top: 3%;
    width: 380px;
  }
  &__footer {
    margin: rem(38) 0 rem(20);
  }

  .card {
    position: absolute;
    top: 2.3%;
    left: 37%;
    max-width: 23.14286rem;
    height: 95%;
    &__title {
      font-size: 1.451429rem;
    }
    .text-field {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 834px) {
  .footer--main {
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .registration .card {
    left: 10px;
  }
}
