extends ../../layout/landing/landing
include ../../components/header-w/header-w.pug
block variables
  - var title = 'landing page';
  - var description = '';
  - var pageclass='landing-page'
block content
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .picture 
      include ../../components/rooms-for-you/rooms-for-you.pug
      span.picture__caption Лучшие номера для вашей работы, отдыха и просто вдохновения
      
  footer(class='footer footer--main')
    include ../../components/footer/footer.pug
  footer(class='footer footer--small ')
    include ../../components/footer-mini/footer-mini.pug

