extends ../../layout/landing/landing
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-mini/footer-mini.pug
include ../../components/rooms-for-you/rooms-for-you.pug

block variables
  - var title = 'landing page';
  - var description = '';
  - var pageclass='landing-page'
block content
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .landing-page__bgp 
      +roomsForYouCard 
      span.landing-page__caption Лучшие номера для вашей работы, отдыха и просто вдохновения
  footer(class='footer footer--main')
    +footer
  footer(class='footer footer--small ')
    +footerMini

