$cell-length: 40px;
.air-datepicker {
  min-width: 320px;
  min-height: 369px;
  // .selected {
  //   background-position: none;
  // }
  &.-inline- {
    min-width: 320px;
    min-height: 369px;
    padding: 1rem 1.4rem 0.4rem;
    position: absolute;
    top: 158%;
    display: none;
    box-sizing: border-box;
  }
  &-cell {
    width: $cell-length;
    height: $cell-length;
    border-radius: 50%;
    &.-day- {
      &.-other-month- {
        color: rgba(31, 32, 65, 0.25);
      }
    }
    &.-in-range- {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
    }
    &.-range-to-,
    &.-range-from- {
      background: 0;
      position: relative;
      background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      color: white;
      border: 0;
      z-index: 2;
      opacity: 0.25;
      &::before {
        content: attr(data-date);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        background: linear-gradient(180deg, #bc9cff, #8ba4f9);
        clip-path: circle(32% at 0% 0%);
        opacity: 0.25;
      }
      &::after {
        content: attr(data-date);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        background: green;
        z-index: 3;
      }
    }
    &.-range-to- {
      background-position: 0%;

      &::before {
        left: 0;
      }
      &::after {
        left: 0;
      }
    }
    &.-range-from- {
      background-position: 100%;

      &::before {
        right: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
  &-nav {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 2rem;
    &--action[data-action='next'],
    &--action[data-action='prev'] {
      svg {
        display: none;
      }
      background: url('./arrow_back.png') center no-repeat;
    }
    &--action[data-action='next'] {
      background: url('./arrow_forward.svg') 90% no-repeat;
    }
    &--action[data-action='prev'] {
      background-position: 42%;
    }
  }
  &-nav--title {
    color: black;
    font-size: 1.4rem;
    i {
      color: inherit;
      margin-right: 1px;
    }
  }
  &--content {
    padding: 0;
  }
  &-body {
    &--cells.-days- {
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: $cell-length;
    }
    &--day {
      &-name {
        color: rgba(188, 156, 255, 1);
        width: $cell-length;
        height: $cell-length;
      }
      &-names {
        grid-template-columns: repeat(7, $cell-length);
        margin: 0;
      }
    }
  }

  &-cell.-day- {
    color: rgba(31, 32, 65, 0.5);
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  &--buttons {
    border-top: 0;
    padding: 0;
    padding-top: calc(9 / 14) * 1rem;
  }
}
