@import '../../../layout/vars.scss';
@import '../../../layout/mixins.scss';
.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-width: 380px;
  min-height: 374px;
  // width: 380px;
  // height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: em(40px) em(30px) 0 em(30px);
  .number {
    font-size: rem(19);
  }
  .number-number {
    font-size: rem(24);
  }
  &__title {
    @include big;
    margin-bottom: 21px;
  }
  .text-field .input {
    margin-bottom: 21px;
  }
}
