.card
  .card__title Войти
  .text-field
    input(type='text',placeholder='Email',class='input')
  .text-field
    input(type='text',placeholder='Пароль',class='input')
  button(class='pay-button') Войти
  .card__footer 
    span(class='card__for-button') Нет аккаунта на Toxin?
    .button-default2__wrapper(class='card__button')
      button(class='button-default2') Создать