include ../checkbox-button/checkbox-button.pug
mixin checkboxList(options)
  .checkbox-ul
    details.checkbox-ul__content
      summary.checkbox-ul__label #{options.label}
      ul.checkbox-ul__list
        each val in options.list
          li.checkbox-ul__item
            +checkbox-button({text:val})



