include ../checkbox-button/checkbox-button.pug
mixin checkboxList(options={label:'expandable checkbox list',list:['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Плед','Тумбочка']})
  .checkbox-ul
    details.checkbox-ul__content
      summary.checkbox-ul__label #{options.label}
      ul.checkbox-ul__list
        each val in options.list
          li.checkbox-ul__item
            +checkbox-button({text:val})



