@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.comment {
  max-width: 53rem;

  &__wrapper {
    display: flex;
  }
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    position: relative;
    top: 10%;
  }
  &__like {
    top: -9px;

    left: 5px;
    position: relative;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    left: -10px;
    padding-top: 1.3rem;
  }
  &__name {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: rem(14);
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  &__time-passed {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
  }
  &__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
    padding-top: 0.7rem;

    padding-left: 0.14rem;
  }
}
