include ../like/like.pug
mixin comment(options={img:'assets/img/avatar.png',name:'Мурад Сарафанов',daysAgo:'5 дней',text:'Great facilities!'})
  .comment
    .comment__wrapper
      .comment__avatar
        .comment__pic
          img(src=options.img)
        .comment__like
          +like({numberOfLikes:'12',id:'like__murad'})
      .comment__body
        .comment__name #{options.name}
        .comment__time-passed #{options.daysAgo}  назад
        .comment__text #{options.text}



