@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.comment {
  max-width: 711px;
  &__wrapper {
    display: flex;
  }
  &__avatar-like {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      top: 10%;
    }
  }
  &__like {
    position: relative;
    left: 6px;
    top: -10px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.9429rem;
    position: relative;
    left: -12px;
  }
  &__name {
    font-family: 'MontserratBold';
    font-size: rem(14);
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  &__time-passed {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
  }
  &__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
    margin-top: rem(5);
  }
  &__lower {
    display: flex;
  }
}
