extends ../../layout/main/main
include ../../components/link/link.pug

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';

block content
  .index
    ul.index__list
      li.index__element
        +link({link:'base.html',text:'Colors and type',className:'index__link'})
      li.index__element
        +link({link:'form-elements.html',text:'Form elements',className:'index__link'})
      li.index__element
        +link({link:'cards.html',text:'Cards',className:'index__link'})
      li.index__element
        +link({link:'navs.html',text:'Footers and headers',className:'index__link'})
      li.index__element
        +link({link:'landing-page.html',text:'Landing page',className:'index__link'})
      li.index__element
        +link({link:'search-room-and-filter.html',text:'Search room and filter',className:'index__link'})
      li.index__element
        +link({link:'room-details.html',text:'Room details',className:'index__link'})
      li.index__element
        +link({link:'registration.html',text:'Registration',className:'index__link'})
      li.index__element
        +link({link:'sign-in.html',text:'Sign-in',className:'index__link'})

    



