@import '../../common/nullstyle.scss';
@import '../../common/vars.scss';
@import '../../common/mixins.scss';
@import '../../common/fonts.scss';

.index {
  font-size: 2rem;
  padding: 39px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
