extends ../../layout/main/main

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';

block content
  .index
    ul.index__list
      li.index__element
        a.index__link(href='base.html') Colors and type 
      li.index__element
        a.index__link(href='form-elements.html') Form elements
      li.index__element
        a.index__link(href='cards.html') Cards
      li.index__element
        a.index__link(href='navs.html') Footers and headers
      li.index__element
        a.index__link(href='landing-page.html') Landing page
      li.index__element
        a.index__link(href='search-room-and-filter.html') Search room and filter
      li.index__element
        a.index__link(href='room-details.html') Room details
      li.index__element
        a.index__link(href='registration.html') Registration
      li.index__element
        a.index__link(href='sign-in.html') Sign-in

    



