.card
  .card__credentials(class='credentials')
    .card__lux-number
      span(class='number')
        span(class='number-sign')
          |№
        span(class='number-number') 888
    .card__lux-price
      span(class='price') 
        b 9990₽ 
      span(class='day') в сутки
  .card__destination
    +date-picker('Прибытие')
    +date-picker('Выезд')  
  .card__guests
    +dropdown2('Гости','2 спальни, 2 кровати','dropdown-accom',['Взрослые','Дети','Младенцы'],'clear')
  .card__summary(class='summary')
    .summary__row 
     
      .summary__price 9 990₽ х 4 суток
      div(style={display:'flex','min-width':' 30%',
    'justify-content': 'space-between'})  
        .summary__info-icon i
        .summary__sum 39 960₽
    .summary__row 
      .summary__price Сбор за услуги: скидка 2 179₽
      div(style={display:'flex','min-width': '30%',
    'justify-content': 'space-between'}) 
        .summary__info-icon i
        .summary__sum 0₽
    .summary__row 
      
      .summary__price Сбор за дополнительные услуги
      div(style={display:'flex','min-width': '30%',
    'justify-content': 'space-between'}) 
        .summary__info-icon i
        .summary__sum 300₽
    .summary__all
      .summary__result Итого
      div(class='summary__border')
      .summary__money 38 081₽
  .card__footer
    button(class='pay-button') Забронировать