include ../svg-arrow-right/svg-arrow-right.pug
mixin subsTextField({modif,placeholder})
	.subscription-field(class=modif ? `subscription-field--${modif}` : false)
		.subscription-field__input-box
			input.subscription-field__input(type="text",placeholder=placeholder)
			.subscription-field__arrow-right 
				+svgArrowRight({color:'#BC9CFF',endColor:'#8BA4F9',modif:'subscription'})
		
