include ../svg-arrow-right/svg-arrow-right.pug
mixin subsTextField(options)
	.subscription-field(class=options.modif ? `subscription-field--${options.modif}` : false)
		.subscription-field__input-box
			input.subscription-field__input(type='text',placeholder='Email')
			.subscription-field__arrow-right 
				+svgArrowRight({color:'#BC9CFF',endColor:'#8BA4F9'})
		
