@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.subscription-field {
  max-width: 19rem;
  position: relative;
  &__label {
    @include label;
  }
  &__input-box {
    position: relative;
  }
  &__input {
    width: 100%;
    @include input();
  }
  &__arrow-right {
    position: absolute;
    top: 26%;
    right: 0;
  }

  &--in-footer {
    margin-top: 0.5rem;
    .arrow-right {
      // width: 18px;
      // height: 18px;
      // top: 32%;
      // right: 16px;
    }
  }
}
