extends ../../layout/main/main
include ../../components/footer/footer.pug 
include ../../components/header/header.pug

block variables
  - var title = 'headers&footers';
  - var description = 'display of nav elements used throughout the project';
block content
  .navs 
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
    +navigation({username:'Юлий Цезарь',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
    +footer
    +footer