mixin navbar(options)
  each el in options.array_of_elements 
    if el.arrow==true
      .navbar__item
        span(class='navbar__text') #{el.name}
        span( class='navbar__arrow')
          img(,class='arrow_class',src='assets/img/arrow.svg')
        if el.list
          .navbar__menu
            each val in el.list
              a(class='navbar__option') #{val}
    else 
      .navbar__item #{el.name}

