mixin like(number_of_likes,id)
  .like__item
    input(type='checkbox',name='like',id=id,class='like__input')
    div(class='like__number',for=id) #{number_of_likes}
    i(class='material-icons like__icon') favorite_border
    i(class='material-icons like__icon--active') favorite

