include ../svg__arrow-right/svg__arrow-right.pug
//- import './pay-button.scss'
button(class='pay-button') перейти к оплате
	+svg__arrow-right({color:'#FFFFFF',endColor:'#FFFFFF',className:'arrow-right'})