extends ../layout/main

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';
 
block content
  ul
    li
      a(href='base.html') Colors and type
    li
      a(href='form-elements.html') Form elements
    li
    li
    li
    li
    li        
  



