.card
  .card__title Регистрация аккаунта
  .card__info
    .text-field
      label
      label
        input(type='text',placeholder='Имя',class='input')
        input(type='text',placeholder='Фамилия',class='input')
    //-   
    include ../radio-buttons/radio-buttons.pug
    .text-field(id='birthday')
      label Дата рождения
      label 
        input(type='text',placeholder='ДД.ММ.ГГГГ',class='input')
    .text-field
      label Данные для входа в сервис
      label 
        input(type='text',placeholder='Email',class='input')
        input(type='password',placeholder='Пароль',class='input')
    +toggle('',['Получать спецпредложения'])
    button(class='pay-button') перейти к оплате
  .card__footer 
    span(class='card__for-button') Уже есть аккаунт на Toxin
    .button-default2__wrapper(class='card__button')
      button(class='button-default2') Войти