@import '../../../layout/vars.scss';
@import '../../../layout/mixins.scss';
.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-width: 380px;
  min-height: 374px;
  // width: 380px;
  // height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: em(40px) em(30px) 0 em(30px);
  .number {
    font-size: rem(19);
  }
  .number-number {
    font-size: rem(24);
  }
  &__title {
    @include big;
    margin-bottom: 21px;
  }
  &__destination {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 20px;
  }
  // &__guests {
  //   margin-bottom: 31px;
  // }
  &__for-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    float: left;
    font-size: 14px;
  }
  &__button {
    float: right;
    margin: 30px 0 15px 0;
  }
  &__footer {
    width: 100%;
    // height: 100/646 * 100%;
    // height: 10em;
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 70px;
  }
  .text-field .input {
    margin-bottom: 21px;
  }
  &__summary {
    margin-bottom: 20px;
  }
}
