include  ../rate-button/rate-button.pug
mixin hotel-card(options)
  .hotel-card
    .hotel-card__slider.js-hotel-card__slider
      each pic in options.pictures
        img(src=pic)
    .hotel-card__info
      .hotel-card__row
        span(class='hotel-card__number') 
          span(class='hotel-card__sign') №
          span(class='hotel-card__roomNumber') #{options.lux_number}
          if options.lux==true
            span(class='hotel-card__lux') ЛЮКС
        span(class='hotel-card__price') 
          b #{options.price} 
          span.day в сутки
      .hotel-card__row
        span(class='hotel-card__stars') 
          +rate-button(4)
        span(class='hotel-card__reviews')
          b #{options.number_of_reviews} 
          |Отзывов

