extends ../../layout/main
include ../../utils/mixins.pug
block variables
  - var title = 'Cards';
//- block head
//-   link(href='../../assets/scss/modules/pay-button.scss')
block content
  .cards__column
    include ../../includes/modules/rooms-for-you/rooms-for-you.pug
    include ../../includes/modules/registration/registration.pug
  .cards__column
    include ../../includes/modules/bill/bill.pug
    include ../../includes/modules/sign-in/sign-in.pug
  .cards__column
    .card__datepicker
    include ../../includes/modules/hotel-card/hotel-card.pug


    