extends ../../layout/main/main
block variables
  - var title = 'Cards';
  - var pageclass='cards';
include ../../components/hotel-card/hotel-card.pug 
block content
  .cards
    .cards__column
      .cards__item
        include ../../components/rooms-for-you/rooms-for-you.pug
      .cards__item
        include ../../components/registration/registration.pug
    .cards__column
      .cards__item
        include ../../components/bill/bill.pug
      .cards__item 
        include ../../components/sign-in/sign-in.pug
    .cards__column
      .cards__item
        .card__datepicker.js-card__datepicker
      .cards__item
        +hotelCard({pictures: ['assets/img/hotel1.png','assets/img/hotel2.png'],luxNumber:888,price:'9900₽',stars:'5',numberOfReviews:145,lux:true})
      .cards__item
        +hotelCard({pictures: ['assets/img/hotel1.png','assets/img/hotel2.png'],luxNumber:840,price:'9900₽',stars:'4',numberOfReviews:65,lux:false})


    