@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
// @import '../../layout/nullstyle.scss';
html {
  background: #e5e5e5;
}
// body {
//   background: #f4f4f6;
// }
.container {
  justify-content: normal;
  display: flex;

  max-width: 1440px;
}

.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem(14);
  line-height: 17px;
  color: #1f2041;
}
.number-number {
  font-size: rem(19);
}
.lux {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
.price {
  font-family: Montserrat;
  font-style: normal;
  // font-weight: bold;
  font-size: rem(14);
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.card__datepicker {
  margin-bottom: 20px;
}
