@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
// @import '../../layout/nullstyle.scss';
html {
  background: #e5e5e5;
}
// body {
//   background: #f4f4f6;
// }
.container {
  justify-content: normal;
  display: flex;

  max-width: 1440px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-width: 380px;
  min-height: 374px;
  // width: 380px;
  // height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: em(40px) em(30px) 0 em(30px);
  .number {
    font-size: 19px;
  }
  .number-number {
    font-size: 24px;
  }
  &__title {
    @include big;
    margin-bottom: 21px;
  }
  &__destination {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 20px;
  }
  // &__guests {
  //   margin-bottom: 31px;
  // }
  &__for-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    float: left;
  }
  &__button {
    float: right;
    margin: 30px 0 15px 0;
  }
  &__footer {
    width: 100%;
    // height: 100/646 * 100%;
    // height: 10em;
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 70px;
  }
  .text-field .input {
    margin-bottom: 21px;
  }
  &__summary {
    margin-bottom: 20px;
  }
}

label {
  margin-bottom: 5px;
}
.summary {
  display: flex;
  flex-direction: column;
  &__row {
    @include mainfont;
  }
  &__price {
    float: left;
  }
  &__sum {
    float: right;
  }
  &__all {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1f2041;
    display: flex;
    justify-content: space-between;
  }
  &__border {
    flex: 1 0 0;
    position: relative;
    top: -5px;
    left: 5px;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  }
  &__result {
    float: left;
    text-align: left;
  }
  &__money {
    float: right;
    width: 25%;
    text-align: right;
  }
  &__row {
    margin-bottom: 10px;
  }
  &__row::last-child {
    margin-bottom: 0;
  }
}
.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 17px;
  color: #1f2041;
}
.number-number {
  font-size: 19px;
}
.lux {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
.price {
  font-family: Montserrat;
  font-style: normal;
  // font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.hotel-card {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin-bottom: 27px;
  &__slider {
    height: 60%;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    padding: 20/15 * 1em;
  }
  &__number {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  &__lux {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
}
.credentials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.slider img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.slick-dots {
  position: absolute;
  left: 80%;
  bottom: 7%;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 2;
  display: flex;
  // width: 100%;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin: 0 0.5rem;
  border-radius: 50%;
}
.slick-dots li.slick-active {
  // padding: 2px;
  // border: 1px solid #ffffff;
}
.slick-dots li.slick-active button {
  background-color: #ffffff;
  // opacity: 0.57;
  z-index: 77;
}
.slick-dots button {
  color: transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  // box-shadow: inset 0px 2px 3px 0px rgba(51, 27, 2, 0.75);
  width: 7.5px;
  height: 7.5px;
  z-index: 75;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}
#card__datepicker {
  padding: 0;
}
