extends ../../layout/main
block variables
  - var title = 'Cards';
  - var pageclass='cards';
include ../../includes/modules/hotel-card/hotel-card.pug 
block content
  .cards
    .cards__column
      include ../../includes/modules/rooms-for-you/rooms-for-you.pug
      include ../../includes/modules/registration/registration.pug 
    .cards__column
      include ../../includes/modules/bill/bill.pug
      include ../../includes/modules/sign-in/sign-in.pug
    .cards__column
      .card__datepicker.js-card__datepicker
      +hotel-card({pictures: ['assets/img/hotel1.png','assets/img/hotel2.png'],lux_number:888,price:'9900₽',stars:'5',number_of_reviews:145,lux:true})
      +hotel-card({pictures: ['assets/img/hotel1.png','assets/img/hotel2.png'],lux_number:840,price:'9900₽',stars:'4',number_of_reviews:65,lux:false})


    