@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
@import '../../layout/fonts.scss';
@import '../../layout/nullstyle.scss';
.index {
  padding: 39px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.picture {
  position: relative;
}
