extends ../../layout/main

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';

block content
  .index
    ul.index__list
      li.index__list-element
        a.index__link(href='base.html') Colors and type 
      li.index__list-element
        a.index__link(href='form-elements.html') Form elements
      li.index__list-element
        a.index__link(href='cards.html') Cards
      li.index__list-element
        a.index__link(href='navs.html') Footers and headers
      li.index__list-element
        a.index__link(href='landingPage.html') Landing page
      li.index__list-element
        a.index__link(href='searchRoomAndFilter.html') Search room and filter
      li.index__list-element
        a.index__link(href='roomDetails.html') Room details
      li.index__list-element
        a.index__link(href='registration.html') Registration
      li.index__list-element
        a.index__link(href='signIn.html') Sign-in

    



