@import '../../common/vars.scss';
@import '../../common/mixins.scss';
@import '../../common/fonts.scss';
@import '../../common/nullstyle.scss';
.index {
  padding: 39px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.picture {
  position: relative;
}
