extends ../../layout/main

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';

block content
  .index(style={display:"flex",'justify-content':"space-between"})
    ul
      li
        a(href='base.html') Colors and type 
      li
        a(href='form-elements.html') Form elements
      li
        a(href='cards.html') Cards
      li
        a(href='navs.html') Footers and headers
      li 
        a(href='landingPage.html') Landing page
      li
        a(href='searchRoomAndFilter.html') Search room and filter
      li
        a(href='roomDetails.html') Room details
      li
        a(href='Registration.html') Registration
      li
        a(href='signIn.html') Sign-in
    



