extends ../../layout/main

block variables
  - var title = 'starter page';
  - var description = '';
  - var pageClass = 'index-page';

block content
  ul
    li
      a(href='base.html') Colors and type
    li
      a(href='form-elements.html') Form elements
    li
       a(href='cards.html') Cards
    li
      a(href='navs.html') Footers and headers
    li 
      a(href='page1.html') Landing page
    li
      a(href='page2.html') Search room and filter
    li
      a(href='page3.html') Room details
    li
      a(href='page4.html') Registration
    li
      a(href='page5.html') Sign-in
  



