extends ../../layout/landing
block variables
  - var title = 'Registration';
  - var description = '';
  - var pageclass='resistration'
block content
  header
    include ../../includes/modules/header-w/header-w.pug
  main 
    .picture 
      img(src='../../../assets/img/last-page.png')



  footer(class='footer-main')
    include ../../includes/modules/footer/footer.pug
  footer(class='footer-secondary')
    include ../../includes/modules/footer-mini/footer-mini.pug