@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.dropdown-accom {
  max-width: 320px;
  width: 100%;
  position: relative;
  &--small {
    width: 266px;
  }
  &--big {
    width: 320px;
  }
  &__label {
    @include label();
    position: relative;
  }
  &__input-box {
    position: relative;
  }
  &__input {
    border-bottom-width: 0.5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    user-select: none;
    width: 100%;
    @include input();
  }
  &__arrow {
    @include input-arrow();
  }
  &__ul {
    position: absolute;
    bottom: 0;
    left: -1px;
    background: #000;
    border: 1px solid rgba(31, 32, 65, 0.5);
    top: 100%;
    width: 100%;
    background-color: white;
    border-top-width: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    z-index: 10;
    height: 163px;
    display: none;
  }
  &__option {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 5px 10px;
  }
  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 41%;
  }
  &__button {
    width: 10%;
    background-color: transparent;
    border: 1px solid rgba(31, 32, 65, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 1.4rem;
    color: rgba(31, 32, 65, 0.5);
    &--next {
      margin-right: 0;
    }
  }
  &__footer {
    width: 100%;
    height: 20%;
    z-index: 2;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .button {
      padding: 0 7px;
    }
  }
  &__submit {
    float: right;
    padding: rem(19) rem(13);
  }
  &__clear {
    padding: rem(19) rem(13);
  }
}
