@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.dropdown-accom {
  max-width: 320px;
  width: 100%;
  position: relative;
  &--small {
    width: 266px;
  }
  &--big {
    width: 320px;
  }
  &__label {
    @include label();
    position: relative;
  }
  &__input-box {
    position: relative;
  }
  &__input {
    border-bottom-width: 0.5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    user-select: none;
    width: 100%;
    @include input();
    cursor: pointer;
  }
  &__arrow {
    @include input-arrow();
  }
  &__ul {
    display: none;
    position: absolute;
    bottom: 0;
    background: #000;
    border: 1px solid rgba(31, 32, 65, 0.5);
    top: 100%;
    width: 100%;
    background-color: white;
    border-top-width: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    z-index: 10;
    height: 158px;
    border-radius: 3px;
  }
  &__content {
    padding: 1px 6px 0 14px;
  }
  &__option {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    &:first-child {
      margin-top: 3px;
    }
  }
  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    &--small {
      width: 38%;
    }
  }
  &__button {
    width: 10%;
    background-color: transparent;
    border: 1px solid rgba(31, 32, 65, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    color: rgba(31, 32, 65, 0.5);
    &--next {
      margin-right: 0;
    }
  }
  &__info {
    font-size: 12px;
  }
  &__footer {
    width: 100%;
    height: 23%;
    z-index: 2;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 1.5rem;
    &--single {
      justify-content: flex-end;
    }
  }
  // &__submit,
  // &__clear {
  //   padding: 1.57rem 0.35rem 0 0.43rem;
  // }
}
