@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.dropdown-accom {
  max-width: 320px;
  width: 100%;
  position: relative;
  &--small {
    width: 266px;
  }
  &--big {
    width: 320px;
  }
  &__label {
    @include label();
    position: relative;
  }
  &__input-box {
    position: relative;
  }
  &__input {
    border-bottom-width: 0.5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    user-select: none;
    width: 100%;
    @include input();
    padding: 0.5em 6em 0.57143em 1.04em;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(31, 32, 65, 0.75);
    user-select: none;
  }
  &__arrow {
    @include input-arrow();
    right: 0.7429rem;
  }
  &__ul {
    display: none;
    position: absolute;
    bottom: 0;
    background: #000;
    border: 1px solid rgba(31, 32, 65, 0.5);
    top: 100%;
    width: 100%;
    background-color: white;
    border-top-width: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    z-index: 11;
    height: 158px;
    border-radius: 3px;
  }
  &__content {
    padding: 1px 0.4rem 0 1.1rem;
  }
  &__option {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    &:first-child {
      margin-top: 3px;
    }
  }
  &__variant {
    text-transform: uppercase;
    font-size: 0.857rem;
    width: 62%;
  }
  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;

    &--small {
      width: 38%;
    }
  }
  &__button {
    width: 10%;
    background-color: transparent;
    border: 1px solid rgba(31, 32, 65, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    color: rgba(31, 32, 65, 0.5);
    &--next {
      margin-right: 0;
    }
    &--disabled {
      opacity: 0.3;
    }
  }
  &__info {
    font-size: 12px;
    padding: 0 0 3px 1px;
  }
  &__footer {
    width: 100%;
    height: 23%;
    z-index: 2;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 1.5rem;
    &--single {
      justify-content: flex-end;
    }
  }
}
