.picture {
  position: relative;
  .card {
    position: absolute;
    top: 70px;
    left: 187px;
    width: 40%;
    z-index: 10000;
  }
}
.footer-secondary {
  display: none;
}
@media screen and (max-width: 834px) {
  .footer-main {
    display: none;
  }
  .footer-secondary {
    display: block;
  }
  .card__title {
    font-size: 1rem;
  }
  .card {
    padding: 1em;
  }
  .card__footer {
    margin: 5px 0 10px;
  }
  .card__title,
  .card__destination {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 700px) {
  .picture .card {
    top: 10px;
    left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .picture .card {
    top: 2%;
    left: 2%;
    width: 60%;
  }
}
.date-picker {
  max-width: 140px;
  margin-right: 20px;
  width: 44%;
  &:last-child {
    margin-right: 0;
  }
}
.input-box {
  max-width: 320px;
  width: 95%;
}
