@import '../../layout/mixins.scss';
.landing-page {
  .card__destination {
    margin-bottom: 0.55714rem;
  }
  .picture {
    position: relative;
    background-image: url('../../../assets/img/picture.jpg');
    height: 51.91429rem;
    .card {
      position: absolute;
      top: 70px;
      left: 141px;
      width: 26.3%;
      z-index: 10000;
    }
    &__caption {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
      color: rgba(31, 32, 65, 0.75);
      position: absolute;
      top: 92%;
      right: 9%;
      width: 20%;
    }
  }
  .rooms-for-you {
    padding: 3.1714em 1.9em 0;
  }

  .footer-secondary {
    display: none;
  }
  @media screen and (max-width: 834px) {
    .footer-main {
      display: none;
    }
    .footer-secondary {
      display: block;
    }
    .card__title {
      font-size: 1rem;
    }
    .card {
      padding: 1em;
    }
    .card__footer {
      margin: 5px 0 10px;
    }
    .card__title,
    .card__destination {
      margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 700px) {
    .picture .card {
      top: 10px;
      left: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .picture .card {
      top: 2%;
      left: 2%;
      width: 60%;
    }
  }
  .date-picker {
    max-width: 140px;
    margin-right: 20px;
    width: 44%;
    &:last-child {
      margin-right: 0;
    }
  }
  .input-box {
    max-width: 320px;
    width: 95%;
  }
}
