#slider {
  width: 100px;
  height: 6px;
  width: 266px;
}
.range-slider {
  width: 266px;
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 23px;
  }
  &__title {
    width: 100%;
    font-size: 12px;
  }
  &__start,
  &__end {
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }
}

.ui-slider-handle {
  border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-range {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  top: -1px;
  height: 179%;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.ui-slider-horizontal .ui-slider-handle {
  border: 2px solid #ffffff;
  margin-left: -0.3em;
  top: -0.3em;
}
