extends ../../layout/main/main

mixin item(options)
  .item  
    .item__color(style={background:options.leftPart})
    .item__desc 
      .item__dark #{options.rightPart[0]}
      .item__code #{options.rightPart[1]}

block variables
  - var title = 'fonts and colors';
  - var description = '';
  - var pageClass = 'base-page';
block head 
  link(rel="stylesheet",href="./mixins.scss")
  link(rel="stylesheet",href="./vars.scss")
block content
  .base
    .left-half
      .left-half__column
        +item({leftPart:'hsla(238, 35%, 19%, 1)', rightPart:['Dark Shade 100%','#1F2041']})
        +item({leftPart:'#575870', rightPart:['Dark Shade 75%','#1F2041']})
        +item({leftPart:'#8F8FA0', rightPart:['Dark Shade 50%','#1F2041']})
        +item({leftPart:'#C7C7CF', rightPart:['Dark Shade 25%','#1F2041']})
        +item({leftPart:'#F4F4F5', rightPart:['Dark Shade 5%','#1F2041']})
        +item({leftPart:' #BC9CFF'  , rightPart:['Purple','#BC9CFF']})
        +item({leftPart:' #6FCF97', rightPart:['Green','#6FCF97']})

    .right-half
      .right-half__column
        .right-half__item.right-half__item--big
          span.h.big H1
          .fonts This one is the sub-section or widget title
        .right-half__item.right-half__item--medium
          span.h.medium H2
          .fonts Next one is the item title inside widgets
        .right-half__item.right-half__item--small
          span.h.small H3
          .fonts This is a label or CTA text
        .right-half__item.right-half__item--mainfont
          span.h.mainfont Body
          .fonts This is the body text which is used for most of the design, like paragraphs, lists, etc.
      
  



