extends ../../layout/main/main
include ../../components/color-item/color-item.pug

block variables
  - var title = 'fonts and colors';
  - var description = 'used colors and fonts in the metalamp toxin project';
  - var pageClass = 'base-page';
block head 
  link(rel="stylesheet",href="./mixins.scss")
  link(rel="stylesheet",href="./vars.scss")
block content
  .base
    .left-half
      .left-half__column
        +color-item({leftPart:'hsla(238, 35%, 19%, 1)', rightPart:['Dark Shade 100%','#1F2041']})
        +color-item({leftPart:'#575870', rightPart:['Dark Shade 75%','#1F2041']})
        +color-item({leftPart:'#8F8FA0', rightPart:['Dark Shade 50%','#1F2041']})
        +color-item({leftPart:'#C7C7CF', rightPart:['Dark Shade 25%','#1F2041']})
        +color-item({leftPart:'#F4F4F5', rightPart:['Dark Shade 5%','#1F2041']})
        +color-item({leftPart:' #BC9CFF'  , rightPart:['Purple','#BC9CFF']})
        +color-item({leftPart:' #6FCF97', rightPart:['Green','#6FCF97']})

    .right-half
      .right-half__column
        .right-half__item.right-half__item--big
          span.right-half__header.right-half__header--big H1
          .right-half__text This one is the sub-section or widget title
        .right-half__item.right-half__item--medium
          span.right-half__header.right-half__header--medium H2
          .right-half__text Next one is the item title inside widgets
        .right-half__item.right-half__item--small
          span.right-half__header.right-half__header--small H3
          .right-half__text This is a label or CTA text
        .right-half__item.right-half__item--mainfont
          span.right-half__header.right-half__header--mainfont Body
          .right-half__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
      
  



