@import '../../common/nullstyle.scss';
@import '../../common/mixins.scss';
@import '../../common/fonts.scss';

html {
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.base {
  padding: 6.74% 10.35%;
  display: flex;
  justify-content: space-between;
  .left-half {
    margin-bottom: 20px;
    margin-right: 0;
    &__column {
      display: block;
    }
  }

  .right-half {
    width: 59%;
    display: flex;
    justify-content: flex-end;
    padding-left: 21%;
    .right-half__text {
      margin-left: 1.44286rem;
      width: 66%;
      word-spacing: 4px;
    }
    &__column {
      display: flex;
      flex-direction: column;
      height: calc(321 / 610) * 100%;
      justify-content: space-between;
    }
    &__item {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      display: flex;
      width: 131%;
      margin-bottom: 2%;
      &--big {
        @include big;
      }
      &--medium {
        @include medium;
      }
      &--small {
        @include small;
        .right-half__text {
          word-spacing: 0px;
        }
      }
      &--mainfont {
        @include mainfont;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.85rem;

        .right-half__text {
          width: 58%;
          font-family: 'Montserrat', sans-serif;
          word-spacing: 1px;
        }
      }
    }
    &__header {
      width: 6%;
    }
  }
}
