@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.header {
  width: 100%;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 9.5% 0 9.72222%;
  }
  &__logo {
    height: 40px;
    width: 12%;
    display: flex;
    align-items: center;
  }
  &__interactive {
    display: flex;
    justify-content: space-between;
  }

  &__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    padding-right: 0.45rem;
  }

  &__items {
    display: flex;
  }

  &__user {
    display: flex;
  }
  &__username {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding: rem(5) 0 0 rem(24);
  }
  &__auth {
    display: flex;
    align-items: center;

    .button--hollow-wrapper {
      width: 87px;
      height: 34px;
    }
  }
  &__small-button {
    margin-right: 20px;
  }
}

//----------------------------------------------------ADAPTIVE
@media screen and (max-width: 1193px) {
  .header__content {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1021px) {
  html {
    font-size: rem(12);
  }
  .header {
    &__content {
      justify-content: space-between;
      padding: 0 1%;
    }
    &__navbar {
      display: none;
    }
    &__user {
      order: 2;
    }
    &__username {
      padding: 0;
    }
  }

  .burger {
    display: block;
    margin-right: 10px;
  }
}
@media screen and (max-width: 457px) {
  .logo {
    display: none;
  }
}
