.navigation {
  display: flex;
  margin-right: 1.5rem;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    min-width: 42px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    margin-right: 1.5rem;
    &--about-us {
      font-family: 'Montserrat', 'sans-serif';
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }
    &:last-child {
      margin-right: 0px;
    }
    .arrow {
      transition: all 0.15s linear;
    }
    &:hover .arrow {
      transform: rotate(-90deg);
    }
    &:hover .navigation__menu {
      display: block;
    }
    & > span {
      margin-right: 5px;
    }
    :last-child {
      margin-right: 0;
    }
  }

  &__arrow {
    display: flex;
    position: relative;
    top: 5%;
  }
  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #bc9cff, 100%;
    border-top: 0;
    border-radius: 4px;
    z-index: 10;
    width: 86%;
  }
  &__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    width: auto;
    background: #e5e5e5;
    text-transform: capitalize;
    padding: 1em;
    text-align: left;
    font-size: 0.8rem;
    &:hover {
      background-color: scale-color(#bc9cff, $lightness: 15%);
      color: black;
      transition: all 0.3s linear;
    }
  }
}
