mixin navbar(options={list:[{name:'О нас',arrow:false},{name:'Услуги',arrow:true,list:['hire','me']},{name:'Вакансии',arrow:false},{name:'Новости',arrow:false},{name:'Соглашения',arrow:true,list:['something','anything','whatever']}],arrow_class:'navigation__arrow'})
  navbar.navigation 
    each el in options.list 
      if el.arrow==true
        .navigation__item
          span.navigation__text #{el.name}
          span.navigation__arrow
            img.arrow(src='assets/img/expand_more.jpg',alt='')
          if el.list
            .navigation__menu
              each val in el.list
                +link({mockAddress:'/',className:'navigation__option',text:`${val}`})
      else 
        .navigation__item #{el.name}

