.buttons
	.buttons__box
		button.button-default1 click me
		button.button-default1 click me
		.button-default2__wrapper
			button.button-default2 click me
		.button-default2__wrapper
			button.button-default2 click me
		button.button-inline click me
		button.button-inline click me
