mixin burger-menu(options) 
  div(class=options.classname)
    button(class='burger__button')
      span(class='burger__item')
    ul(class='burger__menu js-burger__menu')
      each val in options.array_of_arguments 
        if typeof val=='array'
          li(class='burger__option') #{val.name}
            ul(class='burger__inner-menu')
              each el in val 
                li(class='burger__inner-option') #{el}
        else   
          if val.arrow=='true'
            li(class='burger__option') #{val.name}
              img(src='assets/img/arrow.svg',class='burger__arrow')
              
+burger-menu({array_of_arguments:[{name:'О нас',arrow:'false'},{name:'Услуги',arrow:'true'},{name:'Вакансии',arrow:'false'},{name:'Новости',arrow:'false'},{name:'Соглашения',arrow:'true'}],classname:'burger js-burger'})
   
