.range-slider
	.range-slider__info
		.label(class='range-slider__title',style={    
		width: '37%',display: 'flex','align-items': 'center'}) range slider
		.range-slider__context
			span(class='range-slider__start') 0
			span(class='range-slider__das')  -
			span(class='range-slider__end')  0
	#slider