mixin range-slider(label)
	.range-slider
		.range-slider__info
			span.label.range-slider__title #{label}
			.range-slider__context
				span(class='range-slider__start') 0
				span(class='range-slider__das')  -
				span(class='range-slider__end')  0
		#slider

+range-slider('RANGE SLIDER')