@import '../../../layout/vars.scss';
::-webkit-details-marker {
  display: none;
}
.toggle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: $mainFontSize;
  color: $DarkShade50;
  text-transform: capitalize;
  padding-left: 13.5%;
  padding-top: 3px;
  &__item {
    display: flex;
    margin-bottom: rem(13);
    position: relative;
  }
  &__input {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-right: rem(10);
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: default;
  }
  &-group {
    margin-top: rem(18);
    // position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 2;
  }
  &-custom {
    top: 0;
    left: 0;
    position: absolute;
    width: 40px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background: transparent;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    &__helper {
      background: rgba(31, 32, 65, 0.25);
      opacity: 1;
      border-radius: 10px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 52%;
      left: 23%;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }
  }
}

.toggle__input:checked + .toggle-custom .toggle-custom__helper {
  -webkit-transform: translate(120%, -50%);
  -ms-transform: translate(120%, -50%);
  transform: translate(120%, -50%);
  transition: all 0.3s ease-out;
  opacity: 0;
}
.toggle-custom__helper2 {
  opacity: 0;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 52%;
  left: 23%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.toggle__input:checked + .toggle-custom .toggle-custom__helper2 {
  opacity: 1;
  // z-index: 2;
  -webkit-transform: translate(120%, -50%);
  -ms-transform: translate(120%, -50%);
  transform: translate(120%, -50%);
}

.toggle__input:checked ~ .toggle-custom {
  border-color: #bc9cff;
}

.toggle-details {
  position: relative;
}
summary {
  width: 320/12 * 1em;
  @include small;
  user-select: none;
  &::before {
    content: url('../../../../assets/img/arrow.png');
    // padding-right: 0.5em;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

details {
  position: relative;
}
details[open] > summary::before {
  content: url('../../../../assets/img/arrow-up.png');
  width: 20px;
}
