mixin features(options={features:[{pic:'assets/img/smile.png',feature:'Комфорт',desc:'Шумопоглощающие стены'},{pic:'assets/img/comfort2.png',feature:'Удобство',desc:'Окно в каждой из спален'},{pic:'assets/img/whatshot.png',feature:'Уют',desc:'Номер оснащен камином'}]})
  .features
    ul.features__list
      each feature in options.features 
        li.features__item
          .features__pic 
            img(src=feature.pic,alt=feature.alt)
          .features__info
            .features__label #{feature.feature}
            .features__desc #{feature.desc}
      
