@import '../../common/vars.scss';
@import '../../common/mixins.scss';

.features {
  &__list {
    padding-left: 6px;
  }
  &__item {
    display: flex;
    position: relative;
    width: 291px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 1.65714rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__pic {
    $length: 2.8rem;
    height: $length;
    overflow: hidden;
    width: $length;
    display: flex;
    justify-content: flex-end;
  }
  &__info {
    position: relative;
    top: -0.3em;
    padding-left: 1.1142857143rem;
    padding-top: 0.014rem;
  }
  &__label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.61429rem;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.75);
  }
  &__desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    font-size: 1rem;
  }
}
