mixin features({features})
  .features
    ul.features__list
      each feature in features 
        li.features__item
          .features__pic 
            img(src=feature.pic,alt=feature.alt)
          .features__info
            .features__label #{feature.feature}
            .features__desc #{feature.desc}
      
