include ../svg-arrow-right/svg-arrow-right.pug
include ../subscription-text-field/subscription-text-field.pug
include ../link/link.pug
mixin footer 
  footer.footer
    .footer__container
      .footer__top 
        .footer__list.footer__list--big
          .footer__logo
            img(src='assets/img/fsdlogo.svg')
          .footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__list
          +link({className:'footer__item footer__item--section',text:'Навигация'})
          +link({className:'footer__item',text:'О нас',link:'about-us.com'})
          +link({className:'footer__item',text:'Новости'})
          +link({className:'footer__item',text:'Служба поддержки'})
          +link({className:'footer__item',text:'Услуги'})
        .footer__list 
          +link({className:'footer__item footer__item--section',text:'О нас'})
          +link({className:'footer__item',text:'О сервисе'})
          +link({className:'footer__item',text:'Наша команда'})
          +link({className:'footer__item',text:'Вакансии'})
          +link({className:'footer__item',text:'Инвесторы'})
        .footer__list 
          +link({className:'footer__item footer__item--section',text:'Служба поддержки'})
          +link({className:'footer__item',text:'Соглашения'})
          +link({className:'footer__item',text:'Сообщества'})
          +link({className:'footer__item',text:'Связь с нами'})
        .footer__list 
          +link({className:'footer__item footer__item--section',text:'Подписка'})
          +link({className:'footer__item',text:'Получайте специальные предложения и новости сервиса'})
          +link({className:'footer__item footer__item--subscription-field',text:'Сообщества'})
            +subsTextField({label:''})
    .footer__bottom
      .footer__bottom-container
        .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__socials.socials
          .footer__social
            img(src='assets/img/twitter.svg')
          .footer__social
            img(src='assets/img/instagram.svg')
          .footer__social
            img(src='assets/img/facebook.svg')
