include  ../../components/header/header.pug
include ../../components/footer/footer.pug
doctype html
html(lang='en')
  block variables
  head
    meta(charset='utf-8')
    title #{title}
    link(href='')
    link(rel="icon" type="image/ico" href="favicon.ico")
    link(rel="stylesheet",href="assets/scss/main.scss")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=description)
    script(rel="stylesheet",src="https://code.jquery.com/jquery-1.12.4.js")
    script(rel="stylesheet",src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet",href="https:/jqueryui.com/resources/demos/style.css")
    link(rel="stylesheet",href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript",src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    link( rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel='stylesheet')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    block head  
  body

    div(class=page,style={display:'flex','flex-direction':'column'})
      +header({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегистрироваться'})
      block content
      +footer({socials:[{src:"assets/img/twitter.svg",alt:"twitter's logo",href:"mock/mock/mock.com"},{src:"assets/img/facebook.svg",alt:"facebook's logo",href:"mock/mock/mock.com"},{src:"assets/img/instagram.svg",alt:"instagram's logo",href:"mock/mock/mock.com"}],specialElementPosition:3,lists:[{listTitle:'Навигация',list:[{text:'О нас','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Новости','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Служба поддержки','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Услуги','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},{listTitle:'О нас',list:[{text:'О сервисе','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Наша команда','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Вакансии','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Инвесторы','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},    {listTitle:'Служба поддержки',list:[{text:'Соглашения','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Сообщества','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Связь с нами','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},{listTitle:'Подписка',list:[{text:'Получайте специальные предложения и новости сервиса','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'}]}]})
