@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.footer {
  height: 443 / 1350 * 100%;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: rem(14);
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__item:not(:first-child) {
    &:hover {
      color: black;
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    }
  }
  &__container {
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    padding: 7% 9.72222% 9%;
  }
  &__top {
    display: flex;
  }
  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: space-between;
    margin-right: 2.85714rem;
    &:nth-child(5) {
      width: 19.07143rem;
      margin-right: 0;
    }
  }
  .big-column {
    width: 22%;
    margin-right: rem(44);
  }
  &__info {
    font-size: rem(12);
    font-weight: 600;
    width: 100%;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1.5% 9.72222%;
  }
  &__copyright {
    font-size: 0.89rem;
  }
  &__socials {
    display: flex;
    flex-wrap: wrap;
  }
  &__social {
    margin-right: 20px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  &__bottom-logo {
    margin-bottom: rem(15);
  }
  &__bottom-item {
    margin-bottom: 0.75em;
    font-size: 0.8907143rem;
  }
}

a {
  cursor: pointer;
}
.footer-secondary {
  display: none;
}
@media screen and (max-width: 1193px) {
  html {
    font-size: rem(12);
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__container {
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
  }
  .footer__column {
    &:nth-child(5) {
      order: 3;
      width: 19.07143rem;
    }
  }
  .footer__bottom__container {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 12px;
  }
  .footer__column {
    width: 50%;
  }
}
