mixin bullet-list (options)
  .bullet__title #{options.title}
  .bullet-list__box
    each val in options.array_of_arguments
      span(class='bullet-list__item') #{val}
      
+bullet-list({array_of_arguments:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})