mixin bullet-list (array_of_arguments,title)
  .bullet__title #{title}
  .bullet-list__box
    each val in array_of_arguments
      span(class='bullet-list__item') #{val}
      
+bullet-list(['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'])