extends ../../layout/landing/landing
include ../../components/hotel-card/hotel-card.pug
include ../../components/date-picker/date-picker.pug
include ../../components/dropdown-submit-and-clear/dropdown-submit-and-clear.pug
include ../../components/header/header.pug
include ../../components/range-slider/range-slider.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/checkbox-rich/checkbox-rich.pug
include ../../components/pagination/pagination.pug
include ../../components/footer/footer.pug

block variables
  - var title = 'search room and filter';
  - var description = '';
  - var pageClass='search-room'
block content 
  .search-room
    header
      +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
    main.main 
      .sidebar
        .sidebar__container 
          .sidebar__item.sidebar__item--input 
            +datePicker({label:'даты пребывания в отеле',placeholder:'19 авг - 23 авг'})
          .sidebar__item
            +dropdownSubmitAndClear({label:'гости',placeholder:'3 гостя',list:['взрослые','дети','младенцы'],option:'clear',modif:'small'})
          .sidebar__item 
            +rangeSlider('Диапазон цены')
          .sidebar__item 
            +checkboxButtons
          .sidebar__item 
            +checkboxRich()

          .sidebar__item 
            +dropdownSubmitAndClear({label:'удобство номера',placeholder:'2 спальни, 2 кровати',list:['спальни','кровати','ванные комнаты'],option:'clear',modif:'small'})
          .sidebar__item 
            +checkboxList({label:'дополнительные удобства',list:['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Плед','Тумбочка']}) 
      .content 
        .content__title Номера, которые мы для вас подобрали
        .content__items 
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom.png','assets/img/image1.png'],
                  luxNumber:'888',price:'9990',stars:5,numberOfReviews:'145',lux:true})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom1.png','assets/img/image1.png'],
                  luxNumber:'840',price:'9990',stars:4,numberOfReviews:'65',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom2.png','assets/img/image1.png'],
                  luxNumber:'980',price:'8500',stars:3,numberOfReviews:'35',lux:true})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom3.png','assets/img/image1.png'],
                  luxNumber:'856',price:'7300',stars:4,numberOfReviews:'19',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom4.png','assets/img/image1.png'],
                  luxNumber:'740',price:'5800',stars:3,numberOfReviews:'44',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom5.png','assets/img/image1.png'],
                  luxNumber:'982',price:'5800',stars:3,numberOfReviews:'56',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom6.png','assets/img/image1.png'],
                  luxNumber:'678',price:'5500',stars:5,numberOfReviews:'45',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom7.png','assets/img/image1.png'],
                  luxNumber:'450',price:'5300',stars:4,numberOfReviews:'39',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom8.png','assets/img/image1.png'],
                  luxNumber:'350',price:'5000',stars:3,numberOfReviews:'77',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom9.png','assets/img/image1.png'],
                  luxNumber:'666',price:'5000',stars:5,numberOfReviews:'25',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom10.png','assets/img/image1.png'],
                  luxNumber:'352',price:'5000',stars:3,numberOfReviews:'55',lux:false})
          .content__item
            +hotelCard({pictures:['assets/img/srchRoom11.png','assets/img/image1.png'],
                  luxNumber:'450',price:'5300',stars:4,numberOfReviews:'39',lux:false})
        .content__pagination 
          +pagination({numberOfFirstPages:3,lastPage:15})

    footer.footer.footer--main
      +footer


