@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.search-room {
  background: white;
  flex: 1 0 auto;
  overflow: hidden;
  .main {
    display: flex;
    padding: 30px 0 68px;
    @media screen and (max-width: 995px) {
      & {
        display: block;
      }
    }
    @media screen and (max-width: 625px) {
      & {
        flex-wrap: wrap;
      }
    }
  }
  .sidebar {
    padding-left: 140/1440 * 100%;
    width: 456px;
    @media screen and (max-width: 995px) {
      & {
        width: auto;
      }
    }
    @media screen and (max-width: 765px) {
      & {
        padding-left: 3%;
      }
    }
    @media screen and (max-width: 625px) {
      & {
        width: 100%;
      }
    }
    &__container {
      padding-right: calc(60 / 1440) * 100%;
      @media screen and (max-width: 995px) {
        & {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
      @media screen and (max-width: 625px) {
        & {
          justify-content: center;
        }
      }
    }
    &__item {
      margin-bottom: 2.2rem;
      width: 266px;
      &--input {
        margin-bottom: 1.5rem;
      }
      @media screen and (max-width: 995px) {
        & {
          margin-right: 1rem;
        }
      }
      @media screen and (max-width: 625px) {
        & {
          margin-right: 8px;
          margin-top: 0.8rem;
          width: 266px;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .range-slider {
    width: 100%;
  }

  .content {
    padding-left: 4.29rem;
    @media screen and (max-width: 765px) {
      & {
        padding: 15px;
      }
    }
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1f2041;
      margin-bottom: 20px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1044px) {
        & {
          width: 100%;
          justify-content: center;
        }
      }
    }
    &__item {
      margin-bottom: 1.5rem;
      margin-right: 12px;
    }
    &__pagination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.857143rem;
      .pagination {
        position: relative;
        left: -8%;
        top: -3px;
      }
    }
  }

  @media screen and (max-width: 765px) {
    html {
      font-size: 12px;
    }
  }
}
