@import '../../layout/mixins.scss';
.registration {
  .card {
    position: absolute;
    top: 2.3%;
    left: 37%;
    max-width: 23.14286rem;
    height: 95%;
    &__title {
      font-size: 1.451429rem;
    }
    .text-field {
      margin-bottom: 0;
    }
    &__footer {
      margin: rem(38) 0 rem(20);
    }
  }
  .picture {
    height: 42.5rem;
    background: url('./last-page.png');
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}
.radio-buttons {
  &__option {
    width: 30%;
  }
  margin-bottom: 20px;
  &__box {
    margin-top: 0;
  }
}

@media screen and (max-width: 834px) {
  .footer-main {
    display: none;
  }
  .footer-secondary {
    display: block;
  }
}
@media screen and (max-width: 765px) {
  .registration .card {
    left: 10px;
  }
}
