extends ../../layout/landing/landing
include  ../../components/header/header.pug
include ../../components/registration/registration.pug
include ../../components/footer/footer.pug
include ../../components/footer-mini/footer-mini.pug
block variables
  - var title = 'Registration';
  - var description = '';
  - var pageclass='registration'
block content 
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .registration__bgp 
      .registration__register
        +registrationCard
  footer.footer.footer--main
    +footer 
  footer.footer.footer--small
    +footerMini
