.registration {
  .card {
    position: absolute;
    top: 10px;
    left: 187px;
  }
}
.radio-buttons {
  margin-bottom: 20px;
}
.picture {
  img {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 834px) {
  .footer-main {
    display: none;
  }
  .footer-secondary {
    display: block;
  }
}
@media screen and (max-width: 765px) {
  .registration .card {
    left: 10px;
  }
}
