extends ../../layout/landing/landing
include  ../../components/header-w/header-w.pug

block variables
  - var title = 'Registration';
  - var description = '';
  - var pageclass='registration'
block content 
  header
    +navigation({username:'',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  main 
    .picture 
      include ../../components/registration/registration.pug
  footer(class='footer footer--main')
    include ../../components/footer/footer.pug
  footer(class='footer footer--small ')
    include ../../components/footer-mini/footer-mini.pug