@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.bill {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 512px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 2.85714em 1.9286em 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: rem(24);
    line-height: 17px;
    color: #1f2041;
  }
  &__number-sign {
    font-size: 1rem;
  }
  &__room-number {
    margin-left: 4px;
    @include big;
  }
  &__isLux {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    margin-left: rem(3);
  }
  &__room-price {
    vertical-align: bottom;
    font-size: 0.5rem;
  }
  &__price {
    font-family: Montserrat;
    font-style: normal;
    font-size: rem(14);
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }
  &__day {
    font-size: 0.85rem;
  }
  &__destination {
    display: flex;
    margin-top: 1.5rem;
    .date-picker:not(:last-child) {
      margin-right: rem(15);
    }
  }
  &__guests {
    margin-top: 1.5rem;
  }
  &__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 1.6rem;
  }

  &__row {
    @include mainfont;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__calculating-sum {
    font-size: 1rem;
    line-height: 1.28rem;
  }

  &__money {
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    float: right;
    text-align: right;
    background-color: #ffff;
    z-index: 2;
    padding-left: 4px;
    &--single {
      display: inline;
      min-width: 0;
    }
  }
  &__info-icon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
  }
  &__all {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: rem(19);
    color: #1f2041;
    line-height: 23px;
    overflow: hidden;
    position: relative;
    margin-top: 1.4rem;
    padding: 0 3px;
    &:after {
      color: rgba(31, 32, 65, 0.25);
      float: left;
      white-space: nowrap;
      content: '............................................................................................................';
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__result {
    float: left;
    text-align: left;
    font-size: rem(17);
    position: relative;
    display: flex;
    background-color: #fff;
    z-index: 2;
    padding-right: 4px;
  }

  &__footer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
