@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.bill {
  display: flex;
  flex-direction: column;
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 2.58714em 1.9286em 0;
  @media screen and (max-width: 420px) {
    & {
      width: auto;
    }
  }
  &--on-room-details {
    margin: 0 auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: rem(24);
    line-height: 17px;
    color: #1f2041;
  }
  &__number-sign {
    font-size: 1rem;
  }
  &__room-number {
    margin-left: 4px;
    @include big;
  }
  &__isLux {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    margin-left: 0.7rem;
    vertical-align: bottom;
  }
  &__room-price {
    font-size: 0.5rem;
    padding-bottom: 0.1rem;
    padding-right: 0.35rem;
  }
  &__price {
    font-family: Montserrat;
    font-style: normal;
    font-size: rem(14);
    color: rgba(31, 32, 65, 0.5);
  }
  &__day {
    font-size: 0.85rem;
  }
  &__destination {
    display: flex;
    margin-top: 1.7rem;
    justify-content: space-evenly;
    .date-picker {
      margin-right: rem(15);
    }
    .date-picker:last-child {
      margin-right: rem(15);
    }
    @media screen and (max-width: 420px) {
      & {
        flex-wrap: wrap;
        .date-picker--in-bill {
          max-width: inherit;
          width: 100%;
          margin-right: 0;
          margin-top: 1rem;
        }
        .date-picker--in-bill:first-child {
          margin-top: 0;
        }
        .date-picker:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__guests {
    margin-top: 1.5rem;
  }
  &__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }

  &__row {
    @include mainfont;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__calculating-sum {
    font-size: 1rem;
    line-height: 1.28rem;
  }

  &__money {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    float: right;
    text-align: right;
    background-color: #ffff;
    z-index: 2;
    padding-left: 4px;
    min-width: 33%;
    position: relative;
    top: -2px;
    &--single {
      display: inline;
      min-width: 0;
    }
  }
  &__info-icon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
  }
  &__all {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: rem(19);
    color: #1f2041;
    line-height: 23px;
    overflow: hidden;
    position: relative;
    margin-top: 2.2rem;
    padding: 0 3px;
    &:after {
      color: rgba(31, 32, 65, 0.25);
      float: left;
      white-space: nowrap;
      content: '............................................................................................................';
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__result {
    float: left;
    text-align: left;
    font-size: 1.357rem;
    position: relative;
    display: flex;
    background-color: #fff;
    z-index: 2;
    padding-right: 4px;
  }

  &__footer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
  }
}
