mixin checkbox-button(options)
  .checkbox-button
    label(class='checkbox-button__btn',for=val) 
      div(class='checkbox-button__text') #{options.text}
      input(class='checkbox-button__input',type='checkbox',name=val,id=val)
      span(class='checkbox-button__custom') 
      img(src='assets/img/ok.png' style={display:'none'})