@import '../../common/vars.scss';
@import '../../common/mixins.scss';

.arrow-span {
  position: relative;
  right: 8%;
  width: auto;
  height: 100%;
  translate: transformY(-50%);
  transform: translate(6px, 4px);
}
.date-picker {
  width: 150px;
  font-size: rem(11);
  &--single {
    width: 266px;
  }
  &__label {
    margin-bottom: rem(4);
    font-size: 0.75714rem;
    @include label;
  }
  &__item {
    position: relative;
    width: 100%;
    &::last-child {
      margin-right: 0;
    }
  }
  &__input {
    width: 100%;
    @include input();
  }
  &__arrow {
    @include input-arrow();
  }
}

.date-caption {
  margin-bottom: 5px;
}
.date-picker-box {
  display: flex;
}

.ui-datepicker table {
  margin: 0;
  height: 80%;
}

.ui-datepicker td span,
.ui-datepicker td a {
  padding: 0 0.2em 0 0;
}
.ui-datepicker-calendar .ui-state-default {
  width: 1.6em;
  text-align: center;
  width: 23px;
}

.ui-datepicker {
  background: #ffff; /* Old browsers */
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  font-size: 11px;
  padding: 10px;
  border: 1px solid #5bfec8;
  width: 320px;
  height: 369px;
}

.ui-datepicker table td {
  text-align: center;
  padding-left: 6%;
}

.ui-datepicker a {
  cursor: pointer;
  text-decoration: none;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
  color: #5bfec8;
}

a.ui-state-default:hover {
  border: 1px solid white;
  background: #5bfec8;
  font-weight: bold;
  color: black;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid white;
  background: #b1a0fe;
  font-weight: bold;
  color: black;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: black;
}

.ui-widget-header {
  background: blue;
  color: #5bfec8;
  font-weight: bold;
}

#card__datepicker .ui-widget.ui-widget-content {
  border: 0;
  width: 320px;
  height: 339px;
}
.card__datepicker {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.ui-datepicker-inline {
  background: white;
  border: 0;
  table {
    height: 100%;
  }
  table td {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  & .ui-datepicker-header {
    border: 0;
    background: white;
    .ui-datepicker-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: rem(19);
      line-height: 23px;
      text-align: center;
      color: #1f2041;
    }
    & .ui-datepicker-prev {
      .ui-icon {
        background: url('arrow_back.png') center / contain no-repeat;
      }
    }
    & .ui-datepicker-next {
      .ui-icon {
        background: url('arrow_back.png') center / contain no-repeat;
        transform: rotate(180deg);
      }
    }
  }
  .ui-datepicker-calendar {
    .ui-datepicker-week-end {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: rem(12);
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #bc9cff;
    }
    .ui-state-default {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: rem(12);
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(31, 32, 65, 0.5);
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ui-state-active {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 22px;
    }
  }
}
.ui-datepicker .ui-datepicker-calendar thead tr th span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}

.daterangepicker {
  top: 20%;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  width: 5px;
}
.ui-datepicker .ui-datepicker-calendar thead tr th span {
  font-size: 1.3rem;
}
.daterangepicker .drp-calendar.right {
  display: none;
}
.daterangepicker .drp-calendar .left {
  width: 320px;
  position: relative;
}
.daterangepicker .drp-calendar .calendar-table {
  width: 310px;
  position: relative;
}
.daterangepicker {
  width: 320px;
  height: 359px;
  overflow: hidden;
}

.daterangepicker .calendar-table .table-condensed thead tr:nth-child(2) th {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}
.daterangepicker .calendar-table .table-condensed thead tr:nth-child(1) .month {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: rem(19);
  line-height: 23px;
  text-align: center;
  color: #1f2041;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  background-image: url('arrow_back.png');
  background: url('arrow_back.png') center / contain no-repeat;
  border: 0;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: rem(24);
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bc9cff;
  position: relative;
  right: -25%;
}
.daterangepicker thead tr:nth-child(1) {
  margin-bottom: 20px;
}
.daterangepicker .calendar-table .prev span {
  transform: rotate(0);
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: rem(12);
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
}
.daterangepicker.show-calendar .drp-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 0;
  padding-top: 5%;
}
.daterangepicker td.active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: white;
}
.daterangepicker td.in-range {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  border: 0;
}
.daterangepicker td.available:hover {
  border-radius: 50%;
}
.current-day {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
td .weekend .active end-date in-range .available {
  color: red;
}
.daterangepicker.openscenter:before,
.daterangepicker.openscenter:after,
.daterangepicker .drp-selected {
  display: none;
}
.daterangepicker .drp-buttons .btn {
  background-color: transparent;
  color: #bc9cff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  text-transform: uppercase;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  width: 40px;
  height: 40px;
}
