include ../svg-arrow-right/svg-arrow-right.pug
mixin payButton({type,label,arrow})
	button.pay-button(type=type,tabindex="0") 
		span.pay-button__text #{label}
		if arrow
			+svgArrowRight({color:'#FFFFFF',endColor:'#FFFFFF',modif:'in-pay-button'})