include ../svg-arrow-right/svg-arrow-right.pug
mixin payButton(options)
	button.pay-button(type=options.type,tabindex="0") 
		span.pay-button__text #{options.label}
		if options.arrow
			+svgArrowRight({color:'#FFFFFF',endColor:'#FFFFFF',modif:'in-pay-button'})