@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.hotel-card {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  &__arrow {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__slider {
    height: 60%;
  }
  &__pic {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
  &__info {
    padding: 1.5rem 1.5rem 1.4rem 1.3rem;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  &__stars {
    padding-left: 3px;
  }
  &__number {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: rem(19);
    line-height: rem(17);
    color: #1f2041;
  }
  &__sign {
    font-size: 1rem;
    margin-right: 4px;
  }
  &__room-number {
    font-size: calc(19 / 14) * 1rem;
    margin-right: 8px;
  }
  &__lux {
    font-family: 'Montserrat';
    font-size: rem(12);
    font-weight: bold;
    font-style: normal;
    line-height: rem(15);
    text-transform: uppercase;
    color: #bc9cff;
  }
  &__numerical-info {
    font-size: 1rem;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    .day {
      font-size: 13px;
    }
  }
}

.slick-dots {
  position: absolute;
  left: 80%;
  bottom: 7%;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin: 0 0.5rem;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #ffffff;
  z-index: 77;
}
.slick-dots button {
  color: transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 7.5px;
  height: 7.5px;
  z-index: 75;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}
.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  transform: translateY(-45%);
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 17px;
  height: 17px;
  // opacity: 0;
  // background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAAMAAgDAREAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+/igAoAD/2Q==');
  background: url('./hotel-arrow.png') 0 0 / contain no-repeat;
  background-color: transparent;
}
.slick-arrow.slick-prev {
  left: 0;
  transform: rotate(180deg);
}
.slick-arrow.slick-next {
  right: 0;
  top: 49%;
}
#card__datepicker {
  padding: 0;
}
.hotel-card__footer {
  width: 100%;
  margin: 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.hotel-card__applybtn {
  float: right;
}
.hotel-card__cancelbtn {
  float: left;
}
