include  ../rate-button/rate-button.pug
mixin hotelCard(options)
  .hotel-card
    .hotel-card__slider.js-hotel-card__slider
      each pic in options.pictures
        img(src=pic)
    .hotel-card__info
      .hotel-card__row
        span.hotel-card__number
          span.hotel-card__sign №
          span.hotel-card__roomNumber #{options.luxNumber}
          if options.lux==true
            span.hotel-card__lux ЛЮКС
        span.hotel-card__price 
          b #{options.price} 
          span.day в сутки
      .hotel-card__row
        span.hotel-card__stars
          +rateButton(4)
        span.hotel-card__reviews
          b #{options.numberOfReviews} 
          |Отзывов

