include  ../rate-button/rate-button.pug
mixin hotelCard(options={pictures: ['assets/img/hotel1.png','assets/img/hotel2.png'],luxNumber:888,price:'9900₽',stars:'5',numberOfReviews:145,lux:true})
  .hotel-card
    .hotel-card__slider.js-hotel-card__slider
      each pic in options.pictures
        img.hotel-card__pic(src=pic,alt="interior of the room")
    .hotel-card__info
      .hotel-card__row
        span.hotel-card__number
          span.hotel-card__sign №
          span.hotel-card__room-number #{options.luxNumber}
          if options.lux==true
            span.hotel-card__lux ЛЮКС
        span.hotel-card__numerical-info
          b #{options.price}Р
          span.day  в сутки
      .hotel-card__row
        span.hotel-card__stars
          +rateButton(4)
        span.hotel-card__numerical-info
          b #{options.numberOfReviews} 
          |Отзывов

