@import '../../../layout/vars.scss';
@import '../../../layout/mixins.scss';
.footer {
  height: 443 / 1350 * 100%;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: rem(14);
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__item {
    &:hover {
      color:black;
      font-weight: 500;
    };
  }
  // margin-bottom: 20px;
  &__container {
    padding: 113/1350 * 100% 140/1440 * 100% 100/1350 * 100%;
    // height: 372/443 * 100%;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  }
  &__top {
    display: flex;
  }
  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    // width: 20%;
    align-items: space-between;
    margin-right: 20px;
    &:nth-child(5) {
      width: 19.07143rem;
    }
  }
  .big-column {
    width: 30%;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__container {
      padding: 27/1350 * 100% 140/1440 * 100%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
    &__socials {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 21/14 * 1em;
  }
}
.socials {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: 20px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
a{
  cursor: pointer;
}
@media screen and (max-width: 1193px) {
  html {
    font-size: rem(12);
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__container {
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
  }
  .footer__column {
    &:nth-child(5) {
      order: 3;
      width: 19.07143rem;
    }
  }
  .footer__bottom__container {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 12px;
  }
  .footer__column {
    width: 50%;
  }
}
