include ../svg__arrow-right/svg__arrow-right.pug
footer(class='footer')
  .footer__container
    .footer__top 
      .footer__column(class='big-column')
        .footer__logo(class='brand-logo')
          img(src='assets/img/fsdlogo.svg')
        .footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__column 
        .footer__item 
          b Навигация
        a.footer__item О нас
        a.footer__item Новости
        a.footer__item Служба поддержки
        a.footer__item Услуги
      .footer__column 
        .footer__item 
          b О нас
        a.footer__item О сервисе
        a.footer__item Наша команда
        a.footer__item Вакансии
        a.footer__item Инвесторы
      .footer__column 
        .footer__item 
          b Служба поддержки
        a.footer__item Соглашения
        a.footer__item Сообщества
        a.footer__item Связь с нами
      .footer__column 
        .footer__item 
          b Подписка
        .footer__item Получайте специальные предложения и новости сервиса
        .footer__item
          label(class='subscription-text-field__label') 
            input(type='text',placeholder='Email',class='subscription-text-field',class='input')
            +svg__arrow-right({color:'#BC9CFF',endColor:'#8BA4F9',className:'arrow-right__subs-field'})
  .footer__bottom
    .footer__bottom__container
      .footer__bottom__left 
        .footer__bottom__content Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__bottom__right
        .footer__bottom__socials(class='socials')
          .socials__item 
            img(src='assets/img/twitter.svg')
          .socials__item 
            img(src='assets/img/instagram.svg')
          .socials__item   
            img(src='assets/img/facebook.svg')
