mixin footerMini
  footer(class='footer-mini')
    .footer-mini__container 
      .footer-mini__content 
        .footer-mini__logo
          img(src='assets/img/fsdlogo.svg')
        .footer-mini__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__socials
          .footer__social
            img(src='assets/img/twitter.svg')
          .footer__social
            img(src='assets/img/instagram.svg')
          .footer__social
            img(src='assets/img/facebook.svg')
