// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;

//colors for 1st page
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);

// Size
$mainFontColor: #101010;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$fh: 1440;
$fw: 900;

@mixin mainfont {
  font-size: 1rem;
  line-height: 24/14 * 1rem;
  font-weight: 400;
  color: $DarkShade75;
}
@mixin big {
  font-size: 24/14 * 1rem;
  line-height: 29/14 * 1rem;
  font-weight: 700;
}
@mixin medium {
  font-size: 19/14 * 1rem;
  line-height: 23/14 * 1rem;
  font-weight: 700;
}
@mixin small {
  font-size: 12/14 * 1rem;
  line-height: 14/14 * 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

$desktopWidth: 1440;
$desktopHeight: 1350;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
