+hotel-card(['../../../assets/img/hotel1.png','../../../assets/img/hotel2.png'],888,'9900₽ ','5',145,true)
+hotel-card(['../../../assets/img/hotel1.png','../../../assets/img/hotel2.png'],840,'9900₽ ','4',65,false)