div(class='label') rate button
.star__group 
	.star__united
		+svg__star--active('#BC9CFF','#8BA4F9','star--active')
		+svg__star('#BC9CFF','#8BA4F9','star--inactive')
	.star__united
		+svg__star('#BC9CFF','#8BA4F9','star--inactive')
		+svg__star--active('#BC9CFF','#8BA4F9','star--active')
	.star__united
		+svg__star('#BC9CFF','#8BA4F9','star--inactive')
		+svg__star--active('#BC9CFF','#8BA4F9','star--active')
	.star__united
		+svg__star('#BC9CFF','#8BA4F9','star--inactive')
		+svg__star--active('#BC9CFF','#8BA4F9','star--active')
	.star__united
		+svg__star('#BC9CFF','#8BA4F9','star--inactive')
		+svg__star--active('#BC9CFF','#8BA4F9','star--active')




