@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.toggles {
  position: relative;
  @include small;
  text-transform: none;

  &__label {
    @include label;
    font-size: 12px;
    margin-bottom: 1rem;
    text-transform: none;
  }
  &-group {
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 2;
  }
  &__item {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: none;
    }
  }
  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: $mainFontSize;
    color: $DarkShade50;
    padding-top: 0.11429rem;
    position: relative;
    display: flex;
    cursor: pointer;
  }

  &__text {
    padding-left: rem(9);
    word-break: break-all;
  }
  &__input {
    opacity: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    &:checked + .toggles-custom .toggles-custom__helper--passive {
      transform: translate(120%, -50%);
      transition: all 0.3s ease-out;
      opacity: 0;
    }
    &:checked + .toggles-custom .toggles-custom__helper--active {
      opacity: 1;
      transform: translate(120%, -50%);
    }
    &:checked ~ .toggles-custom {
      border-color: #bc9cff;
    }
    &:focus ~ .toggles__text {
      color: #bc9cff;
    }
  }
  &-custom {
    top: 0;
    left: 0;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    background: transparent;
    transition: all 0.3s ease-out;
    &__helper {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 52%;
      left: 26%;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s ease-out;
      &--passive {
        background: rgba(31, 32, 65, 0.25);
        opacity: 1;
      }
      &--active {
        opacity: 0;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
  }
}
