mixin toggle(options={list:['Получать спецпредложения','fish']})
  .toggles
    .toggles-group
      each val in options.list
        .toggles__item
          label.toggles__title(for=val) 
            span.toggles__text #{val}
            input.toggles__input(type='checkbox',name=val,id=val)
            span.toggles-custom
              span.toggles-custom__helper.toggles-custom__helper--passive
              span.toggles-custom__helper.toggles-custom__helper--active

