.card
  .card__title Найдём номера под ваши пожелания
  .card__destination
    +date-picker('Прибытие')
    +date-picker('Выезд')  
  .card__guests
    +dropdown('Гости',7,'Сколько гостей')
  .card__footer
  button(class='pay-button') перейти к оплате
    +svg__arrow-right('#FFFFFF','#FFFFFF','arrow-right')