.card
  .card__title Найдём номера под ваши пожелания
  .card__destination
    +date-picker('Прибытие')
    +date-picker('Выезд')  
  .card__guests
    +dropdown2('Гости','Сколько гостей','dropdown-accom',['Взрослые','Дети','Младенцы'],'clear')
  .card__footer
    button(class='pay-button') подобрать номер
      +svg__arrow-right('#FFFFFF','#FFFFFF','arrow-right')