@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.checkbox-buttons {
  &__list {
    margin-top: calc($mainFontSize/18px) * 1rem;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
  }

  &__label {
    @include label;
  }
}
