include ../checkbox-button/checkbox-button.pug
mixin checkboxButtons(options={label:'Правила дома',list:['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']})
  .checkbox-buttons
    span.checkbox-buttons__label #{options.label}
    ul.checkbox-buttons__list
      each val in options.list
        li.checkbox-buttons__option
          +checkbox-button({text:val})

