include ../checkbox-button/checkbox-button.pug
mixin checkboxButtons(options)
  .checkbox-buttons
    span.checkbox-buttons__label #{options.label}
    ul.checkbox-buttons__list
      each val in options.list
        li.checkbox-buttons__option
          +checkbox-button({text:val})

