@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.checkbox-buttons {
  &__label {
    @include label;
  }
  &__list {
    margin-top: 1.24rem;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
  }
  &__option {
    margin-top: 0.8rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
