@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.cards {
  display: flex;
  padding: 7.1% 9.9%;
  &__column {
    margin-right: 2.1rem;
    &:last-child {
      margin-right: 0;
      .cards__item {
        margin-right: 0;
      }
    }
  }
  &__item {
    margin-bottom: 40px;
  }
  &__datepicker {
    margin-bottom: rem(40);
    height: 358px;
    position: relative;
  }
}
