@import './vars.scss';
@import './mixins.scss';
.disabled {
  opacity: 0.5;
}
.toggle-details {
  @include small;
}
.inbox-button {
  background-color: transparent;
  color: #bc9cff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  text-transform: uppercase;
  font-size: rem(11);
  font-weight: 600;
}
