@font-face {
  font-family: 'Montserrat';
  src: local('/assets/fonts/Montserrat/montserrat-regular.ttf');
  src: local('/assets/fonts/Montserrat/montserrat-regular.woff') format('woff'),
    local('/assets/fonts/Montserrat/montserrat-regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('/assets/fonts/Montserrat/montserrat-bold.ttf');
  src: local('/assets/fonts/Montserrat/montserrat-bold.woff') format('woff'),
    local('/assets/fonts/Montserrat/montserrat-bold.svg') format('svg');
  font-style: normal;
  font-weight: bold;
}
