@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montseratt/montserrat-regular.ttf');
  src: url('/assets/fonts/Montseratt/montserrat-regular.woff') format('woff'),
    url('/assets/fonts/Montseratt/montserrat-regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'MontserratBold';
  src: url('/assets/fonts/Montseratt/montserrat-bold.ttf');
  src: url('/assets/fonts/Montseratt/montserrat-bold.woff') format('woff'),
    url('/assets/fonts/Montseratt/montserrat-bold.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
