@font-face {
  font-family: 'Montserrat';
  src: local('/assets/fonts/Montseratt/Montserrat-Regular.ttf');
  src: local('/assets/fonts/Montseratt/Montserrat-Regular.woff') format('woff'),
    local('/assets/fonts/Montseratt/Montserrat-Regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('/assets/fonts/Montseratt/Montserrat-Bold.ttf');
  src: local('/assets/fonts/Montseratt/Montserrat-Bold.woff') format('woff'),
    local('/assets/fonts/Montseratt/Montserrat-Bold.svg') format('svg');
  font-style: normal;
  font-weight: bold;
}
