@use 'sass:color';
@import './vars.scss';

// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return calc($pixels / $context) * 1rem;
}
@function em($size) {
  @return $size/$mainFontSize * 1em;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@function wid($size) {
  @return $size/$desktopWidth * 100%;
}

$maxWidth: 1920;
$maxWidthContainer: 1170;

@mixin mainfont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: calc(24 / 14) * 1rem;
  font-weight: 400;
  color: $DarkShade75;
}
@mixin big {
  font-size: 1.7rem;
  line-height: 2.07143rem;
  font-weight: 700;
  letter-spacing: 1px;
}
@mixin medium {
  font-size: calc(19 / 14) * 1rem;
  line-height: calc(23 / 14) * 1rem;
  font-weight: 700;
}
@mixin small {
  font-size: calc(12 / 14) * 1rem;
  line-height: calc(14 / 14) * 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
@mixin input {
  font-family: 'Montserrat', sans-serif;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-size: 0.91rem;
  height: 44px;

  appearance: none;
  padding: 0.5em 2.21429em 0.57143em 1.07143em;
  &:hover,
  &:focus {
    border-color: rgba(31, 32, 65, 0.5);
  }
}

@mixin label {
  @include small;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
  user-select: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  color: black;
}

@mixin input-arrow {
  position: absolute;
  transform: translate(-50%, 50.5%);
  top: 34%;
  right: 0.6429rem;
}
