@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
@import '../../layout/fonts.scss';
@import '../../layout/nullstyle.scss';

.mainfont {
  @include mainfont;
}
.big {
  @include big;
}
.medium {
  @include medium;
}
.small {
  @include small;
}
html {
  font-size: rem(14);
  max-width: 1440px;
  margin: 0 auto;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  padding: 6.5% 11.8%;
}

.icon {
  position: relative;
  top: 28px;
  left: 30px;
  width: 60px;
  height: 60px;
}
.first-half {
  margin-bottom: 20px;
  margin-right: 55.4%;
  &__column {
    display: flex;
    display: block;
    flex-direction: column;
    justify-content: space-between;
  }
  .item {
    margin-bottom: 22px;
    display: flex;
    width: 241.61111%;
    &:last-child {
      margin-bottom: 0;
    }
    &__color {
      border-radius: 6px;
      $sqr: 79px;
      width: $sqr;
      height: $sqr;
    }
    &__desc {
      padding: 1.7% 9.5%;
      font-size: 22/14 * 1em;
      line-height: 1.4;
      display: flex;
      flex-direction: column;
      letter-spacing: 0.2px;
    }
  }
}
.second-half {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  &__column {
    display: flex;
    flex-direction: column;
    height: 321/610 * 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    margin-bottom: 51 / $fh * 100%;
    width: 158%;
  }
  .fonts {
    padding-left: 5.7%;
    text-align: left;
  }
}
