@import '../../layout/vars.scss';
@import '../../layout/mixins.scss';
@import '../../layout/fonts.scss';
@import '../../layout/nullstyle.scss';

.mainfont {
  @include mainfont;
}
.big {
  @include big;
}
.medium {
  @include medium;
}
.small {
  @include small;
}
html {
  font-size: rem(14);
  max-width: 1440px;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
// .container {
//   margin: 0 auto;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
.icon {
  position: relative;
  top: 30px;
  left: 30px;
}
.first-half {
  // margin-right: (492 / $fw) * 100%;
  margin-bottom: 20px;
  &__column {
    display: flex;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    // align-items: space-between;
  }
  .item {
    margin-bottom: 20px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    &__color {
      border-radius: 6px;
      width: (70 / 14) * 1em;

      height: (70 / 14) * 1em;
    }
    &__desc {
      padding: 5% 0 5% (30/281) * 100%;
      width: (170 / $fw) * 100%;
      width: 170px;
      display: flex;
      flex-direction: column;
    }
  }
}
.second-half {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  &__column {
    display: flex;
    flex-direction: column;
    height: 321/610 * 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    margin-bottom: 51 / $fh * 100%;

    width: 436px;
  }
  .fonts {
    margin-left: 30 / $fw * 100%;
    text-align: left;
  }
}
