mixin features(options)
  each feature in options.features 
    .feature__item
      .feature__pic 
        img(src=feature.pic)
      .feature__info
        .feature__label #{feature.feature}
        .feature__desc #{feature.desc}
      
