include ../svg-arrow-right/svg-arrow-right.pug
mixin pay-button(options)
	.pay-button 
		span.pay-button__text #{options.label}
		if options.arrow
			+svg__arrow-right({color:'#FFFFFF',endColor:'#FFFFFF',className:'arrow-right pay-button__arrow'})