include ../toggle/toggle.pug
include ../radio-buttons/radio-buttons.pug
include ../button/button.pug
include ../pay-button/pay-button.pug
mixin registrationCard
  .registration-card.js-registration-card
    form.registration-card__content(action='')
      .registration-card__title Регистрация аккаунта
      .registration-card__info
        .registration-card__item
          input.registration-card__input(type="text",placeholder="Имя")
          input.registration-card__input(type="text",placeholder="Фамилия")
        .registration-card__item.registration-card__item--radio
          +radioButtons({list:['Мужчина','Женщина'],name:'gender'})
        .registration-card__item
          h6.registration-card__label Дата рождения
          input.registration-card__input.js-registration-card__input.registration-card__input--with-birthday.js-registration-card__input--with-birthday(type="text",placeholder="ДД.ММ.ГГГГ")
        .registration-card__item
          h6.registration-card__label Данные для входа в сервис
          input.registration-card__input.js-registration-card__input.registration-card__input--with-email.js-registration-card__input--with-email(type="text",placeholder="Email")
          input.registration-card__input(type="password",placeholder="Пароль")
          +toggle({list:['Получать спецпредложения']})
        .registration-card__item
          +payButton({label:'Зарегестрироваться',arrow:true,type:'submit'})
      .registration-card__footer
        p.registration-card__account-availability Уже есть аккаунт на Toxin
        .registration-card__button
          +button({text:"Войти",modifs:['hollow']})