@import '../../common/vars.scss';
@import '../../common/mixins.scss';
.dropdown__item {
  width: 100%;
  max-width: rem(320);
  position: relative;
}
.dropdown__select {
  width: 100%;
  @include input();
}
