mixin colorItem({leftPartColor,rightPartColors})
  .item  
    .item__color(style={background:leftPartColor})
    .item__desc 
      .item__dark #{rightPartColors[0]}
      .item__code #{rightPartColors[1]}